<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Causes of Climate Change</title>
  </head>
  <body>
    <h1>Causes of Climate Change</h1>

    <p style="font-size: 20px; font-weight: 200">
      Human activities are driving the global warming trend observed since the
      mid-20th century.
    </p>

    <h2>Increasing Greenhouse Gases Are Warming the Planet</h2>
    <p>
      The human expansion of the "greenhouse effect"—warming that occurs when
      the atmosphere traps heat radiating from Earth toward space—is what
      scientists believe is responsible for the trend in global warming that has
      been seen since the middle of the 20th century.
    </p>
    <p>
      Energy from the Sun is essential to life on Earth. Nearly half of the
      light energy that reaches the Earth's atmosphere is reflected and emitted
      as infrared heat as it travels through the atmosphere and clouds to the
      surface. A greenhouse gas absorbs around 90% of this heat, which is then
      reflected out into space at a slower rate.
    </p>

    <h2>Four Major Gases That Contribute to the Greenhouse Effect:</h2>
    <ul>
      <li>Carbon Dioxide</li>
      <p>
        A vital component of the atmosphere, carbon dioxide (CO2) is released
        through natural processes (like volcanic eruptions) and through human
        activities, such as burning fossil fuels and deforestation.
      </p>
      <li>Methane</li>
      <p>
        Methane is a common atmospheric gas that has both natural and man-made
        sources. Methane is released through landfills and rice fields in
        addition to being produced when plant matter breaks down in wetlands.
        Methane is produced by the digestion and feces of livestock animals.
        Another significant source of methane emissions is from the production
        and transportation of fossil fuels, as natural gas contains between 70%
        and 90% methane.
      </p>
      <li>Nitrous Oxide</li>
      <p>
        A potent greenhouse gas produced by farming practices, nitrous oxide is
        released during commercial and organic fertilizer production and use.
        Nitrous oxide also comes from burning fossil fuels and burning
        vegetation and has increased by 18% in the last 100 years.
      </p>
      <li>Chlorofluorocarbons (CFCs)</li>
      <p>
        These chemical compounds do not exist in nature – they are entirely of
        industrial origin. They were used as refrigerants, solvents (a substance
        that dissolves others), and spray can propellants.
      </p>
    </ul>

    <h2>Another Gas That Contributes to the Greenhouse Effect:</h2>
    <ul>
      <li>Water Vapor</li>
      <p>
        Water vapor is the most abundant greenhouse gas, but because the warming
        ocean increases the amount of it in our atmosphere, it is not a direct
        cause of climate change.
      </p>
    </ul>

    <h2>
      Human Activity Is the Cause of Increased Greenhouse Gas Concentrations
    </h2>
    <p>
      Burning fossil fuels like coal and oil has elevated atmospheric carbon
      dioxide (CO2) levels over the past century. This rise is brought on by the
      burning of coal or oil, which produces CO2 when airborne carbon and oxygen
      mix. The clearing of land for industrial, agricultural, and other human
      activity has, to a lesser extent, led to an increase in greenhouse gas
      concentrations.
    </p>
    <p>
      Since 1700, the industrial activities on which our contemporary
      civilisation depends have increased atmospheric carbon dioxide levels by
      over 50%. Scientists can detect a distinct isotopic fingerprint in the
      atmosphere, indicating that this increase is a result of human activity.
    </p>
    <p>
      In its Sixth Assessment Report, the Intergovernmental Panel on Climate
      Change, which is made up of scientists from different nations, came to the
      unassailable conclusion that human activity is the primary cause of many
      changes seen in the atmosphere, oceans, cryosphere, and biosphere and that
      the rise of CO2, methane, and nitrous oxide in the atmosphere over the
      industrial era.
    </p>

    <h2>
      Evidence Shows That Current Global Warming Cannot Be Explained by Solar
      Irradiance
    </h2>
    <p>
      Scientists use a metric called Total Solar Irradiance (TSI) to measure the
      changes in energy the Earth receives from the Sun. TSI incorporates the
      11-year solar cycle and solar flares/storms from the Sun's surface.
      Studies show that solar variability has played a role in past climate
      changes. For example, a decrease in solar activity coupled with increased
      volcanic activity helped trigger the Little Ice Age.
    </p>

    <div class="image">
      <img
        src="assets/overview-of-climate-change/temperaturevssolar.webp"
        alt="Graph of Temperature vs Solar Activity"
      />
      <p style="margin-top: 10px">
        The graph above compares variations in the Earth's surface temperature
        (red line) and the energy received from the Sun in watts (units of
        energy) per square meter since 1880.The lighter/thinner lines represent
        annual values, and the heavier/thicker lines represent average trends
        over the preceding 11 years. In order to make the underlying trends more
        visible, year-to-year natural noise in the data is reduced using
        eleven-year averages.
        <br />
        Since 1880, there has been no net growth in the quantity of solar energy
        that Earth receives, following the Sun's regular 11-year cycle of modest
        ups and downs. Global temperatures have significantly increased
        throughout this time period. Therefore, it is incredibly unlikely that
        the Sun is to blame for the observed warming trend in global
        temperatures during the past 50 years. NASA/JPL-Caltech credit
      </p>
    </div>

    <h2>Takeaways</h2>
    <ul>
      <li>
        Life on Earth depends on the greenhouse effect, yet human-caused
        emissions in the atmosphere are preventing or sluggishly reducing heat
        transfer to space.
      </li>
      <li>
        Carbon dioxide, nitrous oxide, methane, chlorofluorocarbons, and water
        vapor are the top five greenhouse gases.
      </li>
      <li>
        The evidence indicates that while the Sun has contributed to historical
        climate changes, it cannot be used to account for the current warming.
      </li>
    </ul>
  </body>
  <section style="margin: 50px">
    <div class="reference-container">
      <accordion [isAnimated]="true">
        <accordion-group heading="References">
          <a href="https://climate.nasa.gov/causes/"
            >https://climate.nasa.gov/causes/</a
          >
        </accordion-group>
      </accordion>
    </div>
  </section>
</html>
