<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ecotopia: Cases</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <main>
      <div class="content">
        <div class="textbox" data-aos="fade-right">
          <h2>Everything <br /><span>is Changing</span></h2>
          <p>
            Climate change is happening now: understand the problem and take
            action. 
          </p>
        </div>
        <img src="/assets/casesimages/cases1.png" alt="sad earth" data-aos="fade-left">
      </div>

      <h1 style="color: #0030FF; text-align: center;
      font-size: 50px;
      font-weight: bold;">The Urgent Problems of Climate Change</h1>

      <div class="card-container" data-aos="zoom-in">
        <div class="card" style="border-color:#c15669; align-items: center;">
          <div class="card-content">
            <h2><a class="learn-more-button" href="problemtrash"
               style="text-decoration: none;color: #c15669;" ><i class="fal fa-times fa-trash"></i> Problem of Removing Waste</a></h2>
          </div>
        </div>
        
        <div class="card" style="border-color:#5E55DB; align-items: center;">
          <div class="card-content">
            <h2><a class="learn-more-button" href="outdatedjeepengine"
               style="text-decoration: none;color: #5E55DB;" ><i class="fal fa-times fa-trash"></i> Jeep Outdated Engine</a></h2>
          </div>
        </div>
        

        <div class="card" style="border-color:#DD9E3B; align-items: center;">
          <div class="card-content">
            <h2><a class="learn-more-button" href="causesofclimatechange"
               style="text-decoration: none;color: #DD9E3B;" ><i class="fal fa-times fa-trash"></i> Causes of Climate Change</a></h2>
          </div>
        </div>
      

        <div class="card" style="border-color:#396A63; align-items: center;">
          <div class="card-content">
            <h2><a class="learn-more-button" href="effectsofclimatechange"
               style="text-decoration: none;color: #396A63;" ><i class="fal fa-times fa-trash"></i> Effects of Climate Change</a></h2>
          </div>
        </div>
      </div>
      <hr style="width:100%;">

      <div class="text">
        <span id="next"
          ><h1 style="color: #396A63">
            Effects of Climate Change
          </h1></span
        >
        <p>
          Global temperatures rose about 1.98°Foffsite link (1.1°C) from 1901 to
          2020, but climate change refers to more than an increase in
          temperature. It also includes sea level rise, changes in weather
          patterns like drought and flooding, and much more. Things that we
          depend upon and value — water, energy, transportation, wildlife,
          agriculture, ecosystems, and human health — are experiencing the
          effects of a changing climate.
        </p>

        <ul>
          <li>
            <b style="color: #77CEC1; font-size: 27px">Hotter temperatures</b>
            <br />
            As greenhouse gas concentrations rise, so does the global surface
            temperature. The last decade, 2011-2020, is the warmest on record.
            Since the 1980s, each decade has been warmer than the previous one.
            Nearly all land areas are seeing more hot days and heat waves.
            Higher temperatures increase heat-related illnesses and make working
            outdoors more difficult. Wildfires start more easily and spread more
            rapidly when conditions are hotter. Temperatures in the Arctic have
            warmed at least twice as fast as the global average.
          </li>
          <li>
            <b style="color: #77CEC1; font-size: 27px">More severe storms</b>
            <br />
            Destructive storms have become more intense and more frequent in
            many regions. As temperatures rise, more moisture evaporates, which
            exacerbates extreme rainfall and flooding, causing more destructive
            storms. The frequency and extent of tropical storms is also affected
            by the warming ocean. Cyclones, hurricanes, and typhoons feed on
            warm waters at the ocean surface. Such storms often destroy homes
            and communities, causing deaths and huge economic losses.
          </li>
          <li>
            <b style="color: #77CEC1; font-size: 27px">Increased drought</b>
            <br />
            Climate change is changing water availability, making it scarcer in
            more regions. Global warming exacerbates water shortages in already
            water-stressed regions and is leading to an increased risk of
            agricultural droughts affecting crops, and ecological droughts
            increasing the vulnerability of ecosystems. Droughts can also stir
            destructive sand and dust storms that can move billions of tons of
            sand across continents. Deserts are expanding, reducing land for
            growing food. Many people now face the threat of not having enough
            water on a regular basis.
          </li>
          <li>
            <b style="color: #77CEC1; font-size: 27px">A warming, rising ocean</b>
            <br />
            The ocean soaks up most of the heat from global warming. The rate at
            which the ocean is warming strongly increased over the past two
            decades, across all depths of the ocean. As the ocean warms, its
            volume increases since water expands as it gets warmer. Melting ice
            sheets also cause sea levels to rise, threatening coastal and island
            communities. In addition, the ocean absorbs carbon dioxide, keeping
            it from the atmosphere. But more carbon dioxide makes the ocean more
            acidic, which endangers marine life and coral
          </li>
          <li>
            <b style="color: #77CEC1; font-size: 27px">Loss of species</b>
            <br />
            Climate change poses risks to the survival of species on land and in
            the ocean. These risks increase as temperatures climb. Exacerbated
            by climate change, the world is losing species at a rate 1,000 times
            greater than at any other time in recorded human history. One
            million species are at risk of becoming extinct within the next few
            decades. Forest fires, extreme weather, and invasive pests and
            diseases are among many threats related to climate change. Some
            species will be able to relocate and survive, but others will not.
          </li>
          <li>
            <b style="color: #77CEC1; font-size: 27px">More health risks</b>
            <br />
            Climate change is the single biggest health threat facing humanity.
            Climate impacts are already harming health, through air pollution,
            disease, extreme weather events, forced displacement, pressures on
            mental health, and increased hunger and poor nutrition in places
            where people cannot grow or find sufficient food. Every year,
            environmental factors take the lives of around 13 million people.
            Changing weather patterns are expanding diseases, and extreme
            weather events increase deaths and make it difficult for health care
            systems to keep up.
          </li>
          <li>
            <b style="color: #77CEC1; font-size: 27px">Hotter temperatures</b>
            <br />
            As greenhouse gas concentrations rise, so does the global surface
            temperature. The last decade, 2011-2020, is the warmest on record.
            Since the 1980s, each decade has been warmer than the previous one.
            Nearly all land areas are seeing more hot days and heat waves.
            Higher temperatures increase heat-related illnesses and make working
            outdoors more difficult. Wildfires start more easily and spread more
            rapidly when conditions are hotter. Temperatures in the Arctic have
            warmed at least twice as fast as the global average.
          </li>
          <li>
            <b style="color: #77CEC1; font-size: 27px">Not enough food</b>
            <br />
            Changes in the climate and increases in extreme weather events are
            among the reasons behind a global rise in hunger and poor nutrition.
            Fisheries, crops, and livestock may be destroyed or become less
            productive. With the ocean becoming more acidic, marine resources
            that feed billions of people are at risk. Changes in snow and ice
            cover in many Arctic regions have disrupted food supplies from
            herding, hunting, and fishing. Heat stress can diminish water and
            grasslands for grazing, causing declining crop yields and affecting
            livestock.
          </li>
        </ul>
      </div>
      <section>
        <div class="reference-container">
          <accordion [isAnimated]="true">
            <accordion-group
              heading="References"
            >
              <a
                href="https://www.un.org/en/climatechange/science/causes-effects-climate-change"
                target="_blank"
                >https://www.un.org/en/climatechange/science/causes-effects-climate-change</a
              >
              <br />
              <a
                href="https://www.noaa.gov/education/resource-collections/climate/climate-change-impacts"
                target="_blank"
                >https://www.noaa.gov/education/resource-collections/climate/climate-change-impacts</a
              >
            </accordion-group>
          </accordion>
        </div>
      </section>
    </main>
    <footer>
      <app-footer></app-footer>
    </footer>
  </body>
</html>
