<section id="footer">
  <div class="footer-container">
    <div class="social-icons">
      <div class="follow">
        <h5>FOLLOW US</h5>
      </div>
      <a href="#"><i class="fab fa-facebook-f"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-linkedin-in"></i></a>
    </div>

    <div class="footer-nav">
      <ul>
        <li><a href="">Home</a></li>
        <li><a href="material">Materials</a></li>
        <li><a href="newsFeatures">News</a></li>
        <li><a href="games">Game</a></li>
        <li><a href="aboutus">About</a></li>
        <li><a href="privacypolicy">Privacy Policy</a></li>
      </ul>
    </div>

    <div class="footer-bottom">
      <p>Copyright &copy; 2023 MAAFIA - All Right Reserved</p>
    </div>
  </div>
</section>