<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Footer Design</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
    />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet"/>
  </head>
  <body>
    <footer class="footer">
      <div class="container" data-aos="fade-up"
      data-aos-duration="3000">
        <div class="row">
          <div class="footer-col">
            <h4>overview of climate change</h4>
            <ul>
              <li><a href="#">insight about our planet</a></li>
              <li><a href="#">overview of climate change</a></li>
              <li><a href="#">what is climate change?</a></li>
              <li><a href="#">related resources</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>current issue</h4>
            <ul>
              <li><a href="#">climate change in the philippines</a></li>
              <li><a href="#">introduction</a></li>
              <li><a href="#">climate change scenarios</a></li>
              <li><a href="#">clmate change and observed trends</a></li>
              <li><a href="#">climate projections</a></li>
              <li><a href="#">impact of climate change</a></li>
              <li><a href="#">what you can do</a></li>
              <li><a href="#">conclusions</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>cases</h4>
            <ul>
              <li><a href="#">Problems</a></li>
              <li><a href="#">Cases</a></li>
              <li><a href="#">Effects</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>news</h4>
            <ul>
              <li><a href="#">News & Features</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>Solutions</h4>
            <ul>
              <li><a href="#">should we take action?</a></li>
              <li><a href="#">solutions</a></li>
              <li><a href="#">assessment</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>history</h4>
            <ul>
              <li><a href="#">history</a></li>
              <li><a href="#">assessment</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>explore</h4>
            <ul>
              <li><a href="#">images</a></li>
              <li><a href="#">videos</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>game</h4>
            <ul>
              <li><a href="#">climate escape</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>about us</h4>
            <ul>
              <li><a href="#">maafia devs</a></li>
            </ul>
          </div>
        </div>
        <div class="social">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
          <h6>copyright @2023</h6>
        </div>
      </div>
    </footer>
  </body>
</html>
