<header>
  <div class="header-txt" data-aos="fade-down" data-aos-duration="1000">
    <h1>Materials</h1>
  </div>
</header>
<body>
  <div class="grid-container">
    <div class="item" data-aos="fade-up" data-aos-duration="1000">
      <div class="item-sub">
        <div class="item-img">
            <img src="assets/materials/temp_image.png" alt="">
        </div>
      </div>

      <div class="item-sub-2 color1">
        <div class="item-desc">
            <h2>CURRENT ISSUES</h2>
        </div>
      </div>
    </div>

    <div class="item" data-aos="fade-up" data-aos-duration="1000">
        <div class="item-sub">
          <div class="item-img">
              <img src="assets/materials/temp_image.png" alt="">
          </div>
        </div>
  
        <div class="item-sub-2 color2">
          <div class="item-desc">
              <h2>CASES</h2>
          </div>
        </div>
      </div>

      <div class="item" data-aos="fade-up" data-aos-duration="1000">
        <div class="item-sub">
          <div class="item-img">
              <img src="assets/materials/temp_image.png" alt="">
          </div>
        </div>
  
        <div class="item-sub-2 color3">
          <div class="item-desc">
              <h2>SOLUTIONS</h2>
          </div>
        </div>
      </div>

      <div class="item" data-aos="fade-up" data-aos-duration="1000">
        <div class="item-sub">
          <div class="item-img">
              <img src="assets/materials/temp_image.png" alt="">
          </div>
        </div>
  
        <div class="item-sub-2 color4">
          <div class="item-desc">
              <h2>OVERVIEW OF CLIMATE CHANGE</h2>
          </div>
        </div>
      </div>

      <div class="item" data-aos="fade-up" data-aos-duration="1000">
        <div class="item-sub">
          <div class="item-img">
              <img src="assets/materials/temp_image.png" alt="">
          </div>
        </div>
  
        <div class="item-sub-2 color5">
          <div class="item-desc">
              <h2>ASSESSMENT</h2>
          </div>
        </div>
      </div>


  </div>
</body>

<app-footer></app-footer>
