<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap"
      rel="stylesheet"
    />
    <title></title>
  </head>
  <body>
    <div class="text">
      <h1 style="font-weight: bolder; font-size: 50px;">Materials</h1>
    </div>

    <div class="card-container">
      <div class="card" style=" background-color: #9AC5D7; border: 3px solid #25232E;" data-aos="zoom-in">
        <a href="currentIssue">
          <img
          src="assets/materialimages/currentissues.png"
          alt="Current Issues Image"
          style="cursor: pointer;"
        />
      </a>
        <div class="card-content">
          <a href="currentIssue">
            <h1>Current Issues</h1>
          </a>
        </div>
      </div>

      <div class="spacer"></div>

      <div class="card" style="background-color: #A2C3F9; border: 3px solid #25232E;" data-aos="zoom-in">
        <a href="problems">
          <img 
          src="assets/materialimages/cases.png" 
          alt="Cases Image"
          style="cursor: pointer;"
          />
        </a>
        <div class="card-content">
          <a href="problems">
            <h1>Cases</h1>
          </a>
        </div>
      </div>
    </div>

    <div class="card-container2" style="margin-top: 20px" data-aos="zoom-in">
      <div class="card" style="background-color: #41F0AA; border: 3px solid #25232E;">
        <a href="solutions">
          <img 
          src="assets/materialimages/solutions.png" 
          alt="Solutions Image" 
          style="cursor: pointer;"
          />
        </a>
        <div class="card-content">
          <a href="solutions">
            <h1>Solutions</h1>
          </a>
        </div>
      </div>

      <div class="spacer"></div>

      <div class="card" style="background-color: #A6782A; border: 3px solid #25232E;" data-aos="zoom-in">
        <a href="overviewOfClimateChange">
          <img 
          src="assets/materialimages/overview.png" 
          alt="Overview of Climate Change Image" 
          style="cursor: pointer;"
          />
        </a>
        <div class="card-content">
          <a href="overviewOfClimateChange">
            <h1>Overview of Climate Change</h1>
          </a>
        </div>
      </div>
    </div>

    <div class="card-container3" style="margin-top: 20px" data-aos="zoom-in">
      <div class="card" style="background-color: #501118; border: 3px solid #25232E;">
        <a href="assessment">
          <img 
          src="assets/materialimages/assessment.png" 
          alt="temporary" 
          style="cursor: pointer;"
          />
        </a>
        <div class="card-content">
          <a href="assessment">
            <h1>Assessment</h1>
          </a>
        </div>
      </div>
    </div>
  </body>
  <app-footer></app-footer>
</html>
