<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap"
      rel="stylesheet"
    />
    <title></title>
  </head>
  <body>
    <div class="text">
      <h1 style="font-weight: bolder; font-size: 50px;">Materials</h1>
    </div>

    <div class="card-container">
      <div class="card" style=" background-color: #77CEC1;" data-aos="zoom-in">
        <img
          src="assets/materialimages/temporary.jpg"
          alt="temporary"
        />
        <div class="card-content">
          <a href="currentIssue">
            <h1>Current Issues</h1>
          </a>
        </div>
      </div>

      <div class="spacer"></div>

      <div class="card" style="background-color: #6051e3" data-aos="zoom-in">
        <img src="assets/materialimages/temporary.jpg" alt="temporary"/>
        <div class="card-content">
          <a href="problems">
            <h1>Cases</h1>
          </a>
        </div>
      </div>
    </div>

    <div class="card-container2" style="margin-top: 20px" data-aos="zoom-in">
      <div class="card" style="background-color: #e89b12">
        <img src="assets/materialimages/temporary.jpg" alt="temporary" />
        <div class="card-content">
          <a href="solutions">
            <h1>Solutions</h1>
          </a>
        </div>
      </div>

      <div class="spacer"></div>

      <div class="card" style="background-color: #C15669" data-aos="zoom-in">
        <img src="assets/materialimages/temporary.jpg" alt="temporary" />
        <div class="card-content">
          <a href="overviewOfClimateChange">
            <h1>Overview of Climate Change</h1>
          </a>
        </div>
      </div>
    </div>

    <div class="card-container3" style="margin-top: 20px" data-aos="zoom-in">
      <div class="card" style="background-color: #0030FF">
        <img src="assets/materialimages/temporary.jpg" alt="temporary" />
        <div class="card-content">
          <a href="assessment">
            <h1>Assessment</h1>
          </a>
        </div>
      </div>
    </div>
  </body>
  <app-footer></app-footer>
</html>
