@import url('https://fonts.cdnfonts.com/css/henry-sans');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Henry Sans', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #fff;
}

main {
    margin-top: 50px;
    margin-bottom: 20px;
}

.text {
    padding: 0 8px; 
    color: #080d14;
}

.text h2 {
    color: #501118;
    font-size: 28px; 
}

.text h4 {
    color: #501118;
    font-size: 24px; 
}

.text h3 {
    color: #501118;
    font-size: 24px; 
}

.text p {
    font-size: 20px; 
    line-height: 1.6;
    margin-bottom: 20px;
}

.text b {
    font-size: 18px; 
    color: #501118;
}

.background img {
    max-width: 100%;
}
