nav{
    background: #080d14;
}
nav::after{
    content: '';
    clear: both;
    /*display: block;*/
}
.menu{
    padding-right: 10px;
    float: right;
}
.menu li{
    display: inline-block;
    list-style: none;
    line-height: 20px;
    font-size: 15px;
    left: -20px;
    position: relative;
}
.menu li a{
    display: inline-block;
    color: white;
    padding: 20px;
    text-decoration: none;
    text-transform: uppercase;
}
.menu li a:hover{
    background: rgb(15, 67, 22);
    color: rgb(0, 0, 0);
}
.menu li:hover .dropdown{
    display: block;
}
.dropdown{
    position: absolute;
    background: #0f2543;
    display: none;
    top: 65px;
}
.dropdown li{
    display: block;
    list-style: none;
    font-size: 15px;
    text-align: justify;
}
.logo{
    text-decoration: none;
    color: #ffff;
    font-size: 25px;
    padding: 25px 50px;
    width: 20%;
    float: left;
}