<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
  </head>
  <body>
    <div class="home">
      <header>
        <a href="#" class="logo">Ecotopia</a>
        <link rel="stylesheet" href="navbar.component.css" />
      </header>
      <nav>
        <ul class="menu">
          <li>
            <a href="#">Home<i></i></a>
            <ul class="dropdown">
              <li><a href="">Overview of Climate Change</a></li>
              <li><a href="">News and Features</a></li>
              <li><a href="">Current Issues</a></li>
            </ul>
          </li>
          <li><a href="#">Cases</a></li>
          <li><a href="#">Solution</a></li>
          <li><a href="#">History</a></li>
          <li><a href="#">Explore</a></li>
          <li><a href="#">Game</a></li>
          <li><a href="#">About Us</a></li>
        </ul>
      </nav>
    </div>
  </body>
</html>
