<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

  </head>
  <body>
    <header *ngIf="!hideNavbar">
      <input type="checkbox" id="nav_check" hidden>
      <nav>
        <ul>
          <li [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}"><a routerLink="">Home</a></li>
          <li [routerLinkActive]="'active'"><a routerLink="material">Materials</a>
            <ul class="dropdown">
              <div class="dropdown-content">
                <a
                  (click)="closeNavbar()"
                  [routerLinkActive]="'active'"
                  routerLink="currentIssue"
                  >Current Issues</a
                >
                <a
                  (click)="closeNavbar()"
                  [routerLinkActive]="'active'"
                  routerLink="problems"
                  >Climate Action SDG13</a
                >
                <a
                  (click)="closeNavbar()"
                  [routerLinkActive]="'active'"
                  routerLink="solutions"
                  >Solutions</a
                >
                <a
                  (click)="closeNavbar()"
                  [routerLinkActive]="'active'"
                  routerLink="overviewOfClimateChange"
                  >Overview of Climate Change</a
                >
                <a
                  (click)="closeNavbar()"
                  [routerLinkActive]="'active'"
                  routerLink="assessment"
                  >Assessment</a
                >
              </div>
            </ul>
          </li>
          <li [routerLinkActive]="'active'"><a routerLink="newsFeatures">News</a></li>
          <div class="logo2"><a href=""><img src="/assets/logo/logo.png" alt="Ecotopia Logo" height="80px" width="120px"/></a></div>
          
          <li [routerLinkActive]="'active'"><a routerLink="games">Games</a></li>
          
          <li [routerLinkActive]="'active'"><a routerLink="aboutus">About Us</a></li>
          
        </ul>
      </nav>
      <div class="logo"><a href=""><img src="/assets/logo/logo.png" alt="Ecotopia Logo" height="70px" width="100px"/></a></div>
      <label for = "nav_check" class="lines" (click)="toggleMenu()">
        <i class="bx" [ngClass]="{ 'bx-menu': !isMenuOpen, 'bx-x': isMenuOpen }"></i>
      </label>
    </header>
  </body>
</html>
<router-outlet></router-outlet>


