<header>
    <div class="navbar">
        <div class="navbarlogo">
            <img src="/assets/logo/logo.png" alt="Ecotopia Logo" height="70px" width="100px" />
        </div>
    </div>
</header>

<body>
    <div class="login">
        <h2>Sign in</h2>

        <form (ngSubmit)="login()">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" [(ngModel)]="username" required />

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" [(ngModel)]="password" required />

            <button type="submit" [disabled]="loginAttempts >= 5">Login</button>
            
        </form>
        
    </div>
</body>