<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<header>
    <div class="navbar">
        <div class="navbarlogo">
            <img src="/assets/logo/logo.png" alt="Ecotopia Logo" height="70px" width="100px">
        </div>
    </div> 
</header>
<body>
    <div class="login">
        <h2>Sign in</h2>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" placeholder="Enter Username" required>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" placeholder="Enter Password" required>
        <button type="submit">Login</button>
      </div>
</body>
</html>