@import url("https://fonts.cdnfonts.com/css/henry-sans");

* {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  box-sizing: border-box;
  font-family: "Henry Sans", sans-serif;
}

html {
  margin: 0;
  padding: 0;
}

.content img {
  width: 800px;
  height: 800px;
}

.content {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 50vh;
  padding: 10px;
  margin-bottom: 60px;
  transition: 0.5s;
}

.content2 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  min-height: 30vh;
}

.content2 i {
  font-size: 200%;
}

.content .textbox {
  position: relative;
  max-width: 600px;
}

.content2,
.textbox2 {
  padding-right: 10px;
}

.content .textbox h2 {
  color: #0030ff;
  line-height: 120px;
  font-family: "Roboto", sans-serif;
  font-size: 100px;
  font-weight: 900;
}

.content2 .textbox2 h3 {
  color: #0030ff;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 50px;
  border-style: solid;
  padding: 50px;
}

.content .textbox span {
  color: #ff96a9;
}

.content .textbox p {
  font-size: 25px;
  color: #000000;
  text-align: justify;
  line-height: 1.5em;
  font-weight: 300;
  padding-top: 20px;
}

/****** NEXT CONTENT ******/

.text {
  padding: 100px 100px 0 100px;
  margin-top: -100px;
  color: #080d14;
  transition: 0.5s;
}

.text h1 {
  padding-bottom: 40px;
  font-size: 50px;
  font-weight: bold;
}

.text p {
  line-height: 30px;
  font-size: 21px;
}

.text ul {
  margin-top: 20px;
  font-size: 21px;
  padding-left: 20px;
}

.text ul li {
  padding-top: 20px;
}

#next h1 {
  margin-top: 60px;
}

section .reference-container {
  padding: 50px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  padding: 25px;
}

.card {
  flex-basis: calc(25% - 20px);
  margin: 10px;
  transition: transform 0.3s ease;
  padding: 20px 10px;
  text-align: center;
  border-radius: 20px;
}

/*.card:hover {
    transform: scale(1.1);
  }*/
.card h2 {
  margin-top: 0;
}

.publish-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 50px;
}

.publish:hover {
  background: #0030ff;
}

.publish {
  border-radius: 20px;
  background: #ff96a9;
  font-size: 2rem;
  padding: 10px;
  color: white;
  font-weight: 600;
  letter-spacing: 1.65px;
}

.resizable-input {
        resize: both;
}

@media screen and (max-width: 1299px) {
  .content {
    flex-direction: column;
    transition: 0.2s;
  }

  .card-container {
    flex-direction: column;
    transition: 0.2s;
  }

  .card {
    margin-top: 30px;
  }

  h2 {
    margin-top: 100px;
    transition: 0.2s;
  }
}

@media screen and (max-width: 825px) {
  .content img {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 750px) {
  h1 {
    text-align: center;
  }

  .text p {
    text-align: justify;
  }

  .content .textbox h2 {
    line-height: 110px;
    font-size: 80px;
  }

  .content {
    margin-top: 50px;
    flex-direction: column;
  }
}
