<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ecotopia: MAAfia's Team</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Jost&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <main>
      <div class="texts" data-aos="fade-up" data-aos-duration="1000">
        <h1>maafia developer</h1>
        <p>
          Welcome to Maafia, a dedicated and talented team of individuals
          enrolled in the BSIT-MAA. Our team consists of four passionate members
          who have come together to develop a Parallax Website with a
          captivating mini-arcade game centered around the critical issue of
          climate change. 
          <br>
          <br>
          At Maafia, our primary goal is to deliver quality in
          everything we create. Led by Karl Marx Roxas, a visionary team leader,
          we ensure that our project maintains high standards of exellence. His
          leadership skills drive our team's productivity and overall success.
          <br>
          <br>
          Vincent, Regala, our talented front-end developer, brings life to our
          website with engaging user interfaces and seamless user experiences.
          With his technical skills, Vincent ensures that our website is both
          visually appealing and functional, providing an immersive experience
          for our users.
          <br>
          <br>
          Maura San Roque, our skilled graphic artist, adds a
          touch of creativity and artistry to our project. Maura's experptise in
          visual design helps in creating captivating visuals that effectively
          convey the message of climate change and inspire action. 
          <br>
          <br>
          Karina Dela Cruz plays a crucial role in our team as the documenter and
          researcher. With her research skills and dedication to documenting our
          progress, Karina ensures that our project remains well-documented and
          organized. 
          <br>
          <br>
          Together, as the Maafia group, we are committed to making a
          positive impact by raising awareness about climate change through our
          Parallax website and mini-arcade game. We strive to provide an
          exceptional user experience while educating and motivating users to
          take action towards a more sustainable future. 
          <br>
          <br>
          Join us on this journeys we combine our skills, knowledge, and passion to make a difference
          in the world. Together, we can create a better tomorrow.
        </p>
      </div>

      <section class="about" data-aos="fade-up" data-aos-duration="1000">
        <div class="content">
          <img src="assets/teamimages/karl.jpg" alt="Karl's image" />
          <div class="text">
            <h1>Karl Marx Roxas</h1>
            <h5>Team Lead / Back-end Developer</h5>
            <p>
              I'm a third-year college student at National University - Manila,
              currently pursuing a degree in BSIT-MAA. Although my course is
              specializing into graphics, I'm determined to become a developer.
              I love learning about different technologies, and I can
              confidently say that I can handle pretty much anything if given
              enough time. Math, networking, algorithms, hardware and philosophy
              also interest me, so I spend a lot of time reading and watching
              computer-related stuff. I believe in forming good habits every
              day, so that when opportunities comes my way, I'm ready to seize
              them. As Epictetus said, "If you want to be beautiful, you have to
              make beautiful choices."
            </p>
          </div>
        </div>
      </section>

      <section class="about2" data-aos="fade-up" data-aos-duration="1000">
        <div class="content">
          <img src="assets/teamimages/vincent.jpg" alt="Vincent's image" />
          <div class="text">
            <h1>Vincent Regala</h1>
            <h5>Front-end Developer</h5>
            <p>
              I'm a third-year college student at National University - Manila,
              currently pursuing a degree in BSIT-MAA. I am a Front-End
              developer with a passion for creating user-friendly and responsive
              websites. I have learned various web technologies and frameworks
              through my projects in college, where I designed and developed a
              website for a local business. I enjoy working with HTML, CSS,
              JavaScript, Bootstrap, and Angular to create modern and dynamic
              web pages that meet the needs and expectations of the clients and
              users.
            </p>
          </div>
        </div>
      </section>

      <section class="about3" data-aos="fade-up" data-aos-duration="1000">
        <div class="content">
          <img src="assets/teamimages/karina.jpg" alt="Karina's image" />
          <div class="text">
            <h1>Karina Dela Cruz</h1>
            <h5>Documenter & Researcher / Assistant Artist</h5>
            <p>
              I'm a third-year student at National University of Manila pursuing
              BSIT-MAA. I aspire to be a designer and an artist. I'm currently
              developing my artistic style through improving my performing arts
              abilities, and yet I currently appreciate drawing line arts and
              designing layouts for my personal web portfolio. I firmly believe
              in the phrase "malayo PA, pero malayo NA," which refers that I'm
              still far from my dreams, but I'm far enough to be grateful. This
              is despite the fact that I may have discovered my skills somewhat
              later in life, I'm still excited to make the leap and refine my
              skill with the people I'm working with.
            </p>
          </div>
        </div>
      </section>

      <section class="about4" data-aos="fade-up" data-aos-duration="1000">
        <div class="content">
          <img src="assets/teamimages/maura.jpg" alt="Maura's image" />
          <div class="text">
            <h1>Maura San Roque</h1>
            <h5>Lead Artist</h5>
            <p>
              I am a third year IT student at National University and a
              freelance character artist. I spent most of my years learning to
              draw, and I am admittedly still a learner. I have experience in
              cartooning, character illustration, character design and
              watercolor painting. I create fan-art for games, popular anime
              shows and series and create original characters outside of
              fan-content. I aim to expand my experience to background
              illustration, comics and graphic design.
            </p>
          </div>
        </div>
      </section>
    </main>
    <footer>
      <app-footer></app-footer>
    </footer>
  </body>
</html>
