*{
    font-display: swap;
}

.parent{
    display: flex;
    flex-direction: row;
    margin: 3%;
    gap: 20px;
    font-display: swap;
}

/* LEFT SIDE */
.sub-left{
    width: 40%;
}
/* RIGHT SIDE */
.sub-right{
    width: 60%;
}

.about-maafia {
    background-color: #001DD3;
    padding: 30px 20px;
    border-radius: 15px;
    text-align: center;
  }
  
  .about-maafia h1 {
    font-size: 3rem;
    font-weight: bold;
    color: #ffffff;
    margin: 0;
  }

.about-maafia p{
    font-size: 1.5rem;
    font-family: 'Henry Sans Bold', sans-serif;
    letter-spacing: 1px;
    color: white;
    text-transform: uppercase;
    padding: 20px;
    transition: all .45s ease;
}
/* LOGO */
.ecotopia img, .nu-ccit img{
    width: 250px;
}

/* ECOTOPIA */
.ecotopia{
    padding: 30px;
    transition: all .45s ease;
}

.sub-objective2 {
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sub-objective2 .objective-1 img {
    width: 180px;
    max-width: 100%; 
    height: auto; 
    padding-bottom: 10px;
}

.email {
    font-family: 'Henry Sans Medium', sans-serif;
    font-size: 1.5rem;
    text-align: center;
    margin: 20px 0;
}

.email p {
    margin: 0;
}

/* Objectives */
.objectives{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    transition: all .45s ease;
}

.objectives h2{
    text-transform: uppercase;
    padding: 20px;
    font-size: 2rem;
    color: #141955;
    font-family: 'Henry Sans Bold', sans-serif;
    transition: all .45s ease;
}
.sub-objective{
    display: flex;
    justify-content: center;
    transition: all .45s ease;
}

.objective-1{
    padding: 15px;
}
.objective-1 figcaption{
    font-weight: 500;
    margin-left: 10px;
}
.sub-objective2 .objective-2 img{
    height: 180px;
    width: 250px;
}
.objective-1 img{
    width: 100px;
    padding-bottom: 10px;
}

/* Partners */
.partners{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.partners h2{
    text-transform: uppercase;
    font-size: 2rem;
    color: #141955;
    font-family: 'Henry Sans Bold', sans-serif;
    transition: all .45s ease;
}

.partners-logos{
    display: flex;
    gap: 20px;
    transition: all .45s ease;
    
}

/* Sub right */
.profiles{
    display: flex;
    gap: 40px;
    flex-direction: column;
    margin-top: 100px;
    transition: all .45s ease;
}

.sub-right{
    display: flex;
    font-family: 'Henry Sans Regular', sans-serif;
}

.the-team-name{
    display: flex;
    justify-content: center;
    color: #13111E;
}

.the-team-name h1{
    text-transform: uppercase;
    font-family: 'Henry Sans Bold', sans-serif;
    font-size: 4rem;
}
.the-team-description p{
    font-size: 21px;
}
.content-right p{
    font-size: 21px;
}
.content{
    display: flex;
    gap: 20px;
    transition: 0.5s;
}

.content-left img{
    border-radius: 50%;
}

.color1 h1{
    color: #9AC5D7;
}
.color1 img{
    border: 7px solid #9AC5D7;
}

.color2 h1{
    color: #A2C3F9;
}
.color2 img{
    border: 7px solid #A2C3F9;
}

.color3 h1{
    color: #41F0AA;
}
.color3 img{
    border: 7px solid #41F0AA;
}

.color4 h1{
    color: #A6782A;
}
.color4 img{
    border: 7px solid #A6782A;
}

@media screen and (max-width: 1660px) {
  .objectives {
    flex-direction: column; 
    text-align: center;
  }

  .sub-objective {
    flex-direction: column;
    align-items: center;
  }

  .objective-1 {
    padding: 15px;
    text-align: center;
    width: 100%;
  }

  .objective-1 img {
    width: 100%;
    max-width: 150px;
    height: auto;
    padding-bottom: 10px;
  }
}


@media screen and (max-width: 1299px){
    .parent{
        flex-direction: column;
        align-items: center;
    }
    .sub-left{
        order: 3;
    }
    .sub-right{
        width: 100%;
    }
    
}
@media screen and (max-width: 1090px){
    .content{
        flex-direction: column;
        align-items: center;
    }
    .about-maafia h1{
        font-size: 40px;
    }
    .ecotopia{
        display: flex;
        justify-content: center;
        padding-right: 20px;
    }
}
@media screen and (max-width: 667px){
    .sub-objective{
        display: flex;
        flex-direction: column;
    }
    .sub-objective2{
        align-items: center;
        justify-content: center;
    }
}
@media screen and (max-width: 446px){
    .partners-logos{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .ecotopia{
        display: flex;
        flex-direction: column;
    }
}
@media screen and (max-width: 440px){
    .about .content img{
        width: 250px;
        height: 250px;
    }
    .about-maafia h1{
        font-size: 25px;
    }
}

@media screen and (max-width: 315px){
    .about-maafia h1{
        font-size: 19px;
    }
}

@media screen and (max-width: 768px) {
    .sub-objective2 {
        flex-direction: column; 
    }

    .sub-objective2 .objective-1 img {
        width: 100%; 
    }
}

@media screen and (max-width: 440px) {
    .sub-objective2 {
        padding-bottom: 10px;
    }
}
@media screen and (max-width: 340px) {
    .sub-objective2 p{
        font-size: 18px;
    }
}