<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ecotopia: MAAfia's Team</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Jost&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <main>
      <div class="texts" data-aos="fade-up" data-aos-duration="1000">
        <h1>maafia developer</h1>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only
          five centuries, but also the leap into electronic typesetting,
          remaining essentially unchanged. It was popularised in the 1960s with
          the release of Letraset sheets containing Lorem Ipsum passages, nd
          more recently with desktop publishing software like Aldus PageMaker
          including versions of Lorem Ipsum. Lorem Ipsum is simply dummy text of
          the printing and typesetting industry. Lorem Ipsum has been the
          industry's standard dummy text ever since the 1500s, when an unknown
          printer took a galley of type and scrambled it to make a type specimen
          book. It has survived not only five centuries, but also the leap into
          electronic typesetting, remaining essentially unchanged. It was
          popularised in the 1960s with the release of Letraset sheets
          containing Lorem Ipsum passages, nd more recently with desktop
          publishing software like Aldus PageMaker including versions of Lorem
          Ipsum.
        </p>
      </div>

      <section class="about" data-aos="fade-up" data-aos-duration="1000">
        <div class="content">
          <img src="assets/teamimages/karl.jpg" />
          <div class="text">
            <h1>Karl Marx Roxas</h1>
            <h5>Developer & Designer</h5>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s, when an unknown printer took a galley of
              type and scrambled it to make a type specimen book. It has
              survived not only five centuries, but also the leap into
              electronic typesetting, remaining essentially unchanged. It was
              popularised in the 1960s with the release of Letraset sheets
              containing Lorem Ipsum passages, nd more recently with desktop
              publishing software like Aldus PageMaker including versions of
              Lorem Ipsum.
            </p>
          </div>
        </div>
      </section>

      <section class="about2" data-aos="fade-up" data-aos-duration="1000">
        <div class="content">
          <img src="assets/teamimages/vincent.jpg" />
          <div class="text">
            <h1>Vincent Regala</h1>
            <h5>Front-end Developer</h5>
            <p>
              I am a Front-End developer with a passion for creating
              user-friendly and responsive websites. I have learned various web
              technologies and frameworks through my projects in
              college, where I designed and developed a website for a local
              business. I enjoy working with HTML, CSS, JavaScript, Bootstrap,
              and Angular to create modern and dynamic web pages that meet the
              needs and expectations of the clients and users.
            </p>
          </div>
        </div>
      </section>

      <section class="about3" data-aos="fade-up" data-aos-duration="1000">
        <div class="content">
          <img src="assets/teamimages/karina.jpg" />
          <div class="text">
            <h1>Karina Dela Cruz</h1>
            <h5>Developer & Designer</h5>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s, when an unknown printer took a galley of
              type and scrambled it to make a type specimen book. It has
              survived not only five centuries, but also the leap into
              electronic typesetting, remaining essentially unchanged. It was
              popularised in the 1960s with the release of Letraset sheets
              containing Lorem Ipsum passages, nd more recently with desktop
              publishing software like Aldus PageMaker including versions of
              Lorem Ipsum.
            </p>
          </div>
        </div>
      </section>

      <section class="about4" data-aos="fade-up" data-aos-duration="1000">
        <div class="content">
          <img src="assets/teamimages/maura.jpg" />
          <div class="text">
            <h1>Maura San Roque</h1>
            <h5>Developer & Designer</h5>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s, when an unknown printer took a galley of
              type and scrambled it to make a type specimen book. It has
              survived not only five centuries, but also the leap into
              electronic typesetting, remaining essentially unchanged. It was
              popularised in the 1960s with the release of Letraset sheets
              containing Lorem Ipsum passages, nd more recently with desktop
              publishing software like Aldus PageMaker including versions of
              Lorem Ipsum.
            </p>
          </div>
        </div>
      </section>
    </main>
    <footer>
      <app-footer></app-footer>
    </footer>
  </body>
</html>
