<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap"
      rel="stylesheet"
    />
    <title></title>
  </head>
  <body>

    <div class="background" style="margin-bottom: 50px">
        <img
          src="assets/solutionsimages/action.jpg"
          alt="Act now! image"
          width="100%"
        />
      </div>

    <main style="padding: 0 30px 0 30px;">
      <div class="text">
        <h1 style="color: #0030FF;">Why should we take action?</h1>
        <h4 style="color: #FB0280;">Climate change is one of the most challenging problems that humanity
            has ever faced. At stake are hundreds of millions of lives,
            innumerable species and ecosystems, the health and viability of the
            economy, and the future habitability of this planet.</h4>
        <p>
          <br>

          <b style="font-size: 23px; color: #2082C8;">Cut emissions</b>
          <br />
          Carbon dioxide and other heat-trapping gases are the main drivers of
          global warming. While climate change cannot be stopped, it can be
          slowed. To avoid the worst consequences of climate change, we’ll need
          to reach “net zero” carbon emissions by 2050 or sooner. Net zero means
          that, on balance, no more carbon is dumped into the atmosphere than is
          taken out. To achieve net zero emissions, we need a massive
          transformation in how we produce and consume electricity. We need a
          newer, better transportation system. We need to stop deforestation. We
          need a climate-friendly agricultural system.
          <br />
          <br />
          <b style="font-size: 23px; color: #2082C8;">Remove carbon dioxide</b>
          <br />
          To reach net zero emissions, we need to do more than just reduce our
          emissions: we need to actively remove carbon dioxide from the
          atmosphere or offset its effects. The easiest way to do this is by
          planting new forests (afforestation) or restoring old ones
          (reforestation). Other enhanced land management practices can help, as
          can new technologies that suck CO2 out of the air (“direct air
          capture”), or prevent it from leaving smokestacks (“carbon capture and
          storage”).
          <br />
          <br />
          <b style="font-size: 23px; color: #2082C8;">Act now!</b>
          <br />
          No matter how quickly we reduce emissions, the reality is that certain
          climate impacts are inevitable. The seas are rising. Temperatures
          break records every year. Droughts, floods, and extreme weather are
          damaging communities today. Cutting carbon is the only long-term
          solution for avoiding climate impacts. In the short-term, we need to
          adapt.
          <br />
          <br />
          The best policy ideas in the world aren’t worth much if we don’t have
          activists, experts, and everyday people fighting for change. From
          school groups to churches; from corporate boardrooms to mayors and
          local leaders: we need action.
        </p>
      </div>

      <div class="flex-container">
        <div class="flex-box">
          <h3 style="color: #FB0280;">
            Climate change is already an urgent threat to millions of lives –
            but there are solutions. From changing how we get our energy to
            limiting deforestation, here are some of the key solutions to
            climate change.
          </h3>
          <p>
            The main ways to stop climate change are to pressure government and
            business to:
            <br />
            <br />
            <li>
              <b style="font-size: 23px; color: #2082C8;">Keep fossil fuels in the ground</b>
              <br />
              Fossil fuels include coal, oil and gas – and the more that are
              extracted and burned, the worse climate change will get. All
              countries need to move their economies away from fossil fuels as
              soon as possible.
            </li>
            <br />
            <li>
              <b style="font-size: 23px; color: #2082C8;">Protect forests like the Amazon</b>
              <br />
              Forests are crucial in the fight against climate change, and
              protecting them is an important climate solution. Cutting down
              forests on an industrial scale destroys giant trees which could be
              sucking up huge amounts of carbon. Yet companies destroy forests
              to make way for animal farming, soya or palm oil plantations.
              Governments can stop them by making better laws.
            </li>
            <br />
            <li>
              <b style="font-size: 23px; color: #2082C8;">Invest in renewable energy</b>
              <br />
              Changing our main energy sources to clean and renewable energy is
              the best way to stop using fossil fuels. These include
              technologies like solar, wind, wave, tidal and geothermal power.
            </li>
            <br />
            <li>
              <b style="font-size: 23px; color: #2082C8;">Switch to sustainable transport</b>
              <br />
              Petrol and diesel vehicles, planes and ships use fossil fuels.
              Reducing car use, switching to electric vehicles and minimising
              plane travel will not only help stop climate change, it will
              reduce air pollution too.
            </li>
            <br />
            <li>
              <b style="font-size: 23px; color: #2082C8;">Help us keep our homes cosy</b>
              <br />
              Homes shouldn’t be draughty and cold – it’s a waste of money, and
              miserable in the winter. The government can help households heat
              our homes in a green way – such as by insulating walls and roofs
              and switching away from oil or gas boilers to heat pumps.
            </li>
            <br />
            <li>
              <b style="font-size: 23px; color: #2082C8;">Improve farming and encourage vegan diets</b>
              <br />
              One of the best ways for individuals to help stop climate change
              is by reducing their meat and dairy consumption, or by going fully
              vegan. Businesses and food retailers can improve farming practices
              and provide more plant-based products to help people make the
              shift.
            </li>
            <br />
            <li>
              <b style="font-size: 23px; color: #2082C8;">Restore nature to absorb more carbon</b>
              <br />
              The natural world is very good at cleaning up our emissions, but
              we need to look after it. Planting trees in the right places or
              giving land back to nature through ‘rewilding’ schemes is a good
              place to start. This is because photosynthesising plants draw down
              carbon dioxide as they grow, locking it away in soils.
            </li>
            <br />
            <li>
              <b style="font-size: 23px; color: #2082C8;">Protect the oceans</b>
              <br />
              Oceans also absorb large amounts of carbon dioxide from the
              atmosphere, which helps to keep our climate stable. But many are
              overfished, used for oil and gas drilling or threatened by deep
              sea mining. Protecting oceans and the life in them is ultimately a
              way to protect ourselves from climate change.
            </li>
            <br />
            <li>
              <b style="font-size: 23px; color: #2082C8;">Reduce how much people consume</b>
              <br />
              Our transport, fashion, food and other lifestyle choices all have
              different impacts on the climate. This is often by design –
              fashion and technology companies, for example, will release far
              more products than are realistically needed. But while reducing
              consumption of these products might be hard, it’s most certainly
              worth it. Reducing overall consumption in more wealthy countries
              can help put less strain on the planet.
            </li>
            <br />
            <li>
              <b style="font-size: 23px; color: #2082C8;">Reduce plastic</b>
              <br />
              Plastic is made from oil, and the process of extracting, refining
              and turning oil into plastic (or even polyester, for clothing) is
              surprisingly carbon-intense. It doesn’t break down quickly in
              nature so a lot of plastic is burned, which contributes to
              emissions. Demand for plastic is rising so quickly that creating
              and disposing of plastics will account for 17% of the global
              carbon budget by 2050 (this is the emissions count we need to stay
              within according to the Paris agreement).
            </li>
          </p>
        </div>

        <section>
          <div class="reference-container">
            <accordion [isAnimated]="true">
              <accordion-group heading="References">
                <a
                  href="https://www.greenpeace.org.uk/challenges/climate-change/solutions-climate-change/"
                  target="_blank"
                  >https://www.greenpeace.org.uk/challenges/climate-change/solutions-climate-change/</a
                >
                <br />
                <a
                  href="https://www.ucsusa.org/climate/solutions#toc-cut-emissions"
                  target="_blank"
                  >https://www.ucsusa.org/climate/solutions#toc-cut-emissions</a
                >
              </accordion-group>
            </accordion>
          </div>
        </section>
      </div>
    </main>
    <footer>
      <app-footer></app-footer>
    </footer>
  </body>
</html>