<body>
  <div class="assessment">
    <h1>Assessment</h1>
  </div>

  <div class="assessment2">
    <div
      class="container2"
      style="border-color: #e89b12"
      *ngFor="let item of assessment; let index = index"
    >
      <h2>Trivia Game</h2>
      <ol type="1">
        <li *ngFor="let quiz of item.trivia_game let i = index;">
          <p>{{ quiz.question }}</p>
          <ng-container *ngFor="let option of quiz.options; let j = index;">
            <input
              type="radio"
              [name]="'q' + (index + i + 1)"
              [value]="'q' + (index + i + 1) + '_' + (j + 1)"
              [(ngModel)]="selectedAnswersTriviaGame[index + i]"
            />
            {{ option }}<br />
          </ng-container>
        </li>
        
      </ol>
      <button
        type="button"
        (click)="submitTriviaGame()"
        style="background-color: #e89b12"
      >
        Submit Quiz
      </button>
      <button
        type="button"
        (click)="resetSelectedAnswersTrivia()"
        style="background-color: #cc0808; color: white"
      >
        Reset
      </button>
      <div id="result"></div>
    </div>
  </div>

  <div class="assessment2">
    <div
      class="container2"
      style="border-color: #77cec1"
      *ngFor="let item of assessment; let index = index"
    >
      <h2>Pop Quiz</h2>
      <ol type="1">
        <li *ngFor="let quiz of item.pop_quiz; let i = index;">
          <p>{{ quiz.question }}</p>
          <ng-container *ngFor="let option of quiz.options; let j = index;">
            <input
              type="radio"
              [name]="'p' + (index + i + 1)"
              [value]="'p' + (index + i + 1) + '_' + (j + 1)"
              [(ngModel)]="selectedAnswersPopQuiz[index + i]"
            />
            {{ option }}<br />
          </ng-container>
        </li>
        
      </ol>
      <button
        type="button"
        (click)="submitPopQuiz()"
        style="background-color: #77cec1"
      >
        Submit Quiz
      </button>
      <button
        type="button"
        (click)="resetSelectedAnswersPop()"
        style="background-color: #cc0808; color: white"
      >
        Reset
      </button>

      <div id="result"></div>
    </div>
  </div>
</body>

<app-footer></app-footer>
