<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap"
      rel="stylesheet"
    />
    <title></title>
  </head>
  <body>
    <div class="background" style="margin-bottom: 50px">
      <img
        src="assets/solutionsimages/city.jpg"
        alt="Act now! image"
        width="100%"
      />
    </div>

    <main style="padding: 0 30px 0 30px">
      <div class="text">
        <h1 style="color: #0030ff">Data and Information</h1>
        <h4 style="color: #fb0280">
          The following resources from government organizations in the United
          States offer information on potential approaches for addressing
          climate change.
        </h4>
        <div class="content">
          <img
            src="/assets/governmentimages/data.gov.png"
            alt="#"
          />

          <div class="textbox">
            <h2>Climate Data Initiative</h2>
            <p>
              Data pertaining to climate change that can provide insights and
              assist in educating and readying communities, businesses, and
              individuals in the United States.
            </p>
          </div>
        </div>

        <div class="content">
          <img
            src="/assets/governmentimages/usclimate.png "
            alt="#"
          />

          <div class="textbox">
            <h2>U.S Climate Resilience Toolkit</h2>
            <p>
              Offers scientific resources, data, and knowledge to support
              individuals in effectively addressing climate-related risks and
              opportunities, as well as enhancing their ability to withstand and
              recover from extreme events.
            </p>
          </div>
        </div>

        <div class="content">
          <img
            src="/assets/governmentimages/noaa.png "
            alt="#"
          />

          <div class="textbox">
            <h2>National Oceanic and Atmospheric Administration</h2>
            <p>
              This platform offers a range of resources, including advanced
              computing systems, cutting-edge models, real-time observations,
              and future projections, to equip individuals with the necessary
              data, tools, and information for comprehending and planning for
              climate variability and change.
            </p>
          </div>
        </div>

        <div class="content">
          <img
            src="/assets/governmentimages/energy.png "
            alt="#"
          />

          <div class="textbox">
            <h2>U.S Department of Energy</h2>
            <p>
              This document outlines the approaches presently being undertaken
              or contemplated to decrease carbon emissions and tackle the issue
              of global climate change.
            </p>
          </div>
        </div>

        <div class="content">
          <img
            src="/assets/governmentimages/agency.png "
            alt="#"
          />

          <div class="textbox">
            <h2>Environmental Protection Agency</h2>
            <p>
              Resources designed to facilitate learning and comprehension of
              environmental concerns, along with suggestions for adopting
              eco-friendly lifestyles.
            </p>
          </div>
        </div>

        <div class="content">
          <img
            src="/assets/governmentimages/un.png "
            alt="#"
          />

          <div class="textbox">
            <h2>U.N Framework on Climate Change</h2>
            <p>
              The online newsletter of the United Nations Framework Convention
              on Climate Change, focusing on matters related to the long-term
              convention on climate change established by the U.N.
            </p>
          </div>
        </div>

        <section>
          <div class="reference-container">
            <accordion [isAnimated]="true">
              <accordion-group heading="References">
                <a
                  href="https://climate.nasa.gov/solutions/resources/ "
                  target="_blank"
                  >https://climate.nasa.gov/solutions/resources/ </a
                >
              </accordion-group>
            </accordion>
          </div>
        </section>
      </div>
    </main>
    <footer>
      <app-footer></app-footer>
    </footer>
  </body>
</html>
