@import url('https://fonts.cdnfonts.com/css/henry-sans');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Henry Sans', sans-serif;
}
body{
    margin: 0;
    padding: 0;
}
html{
    margin: 0;
    padding: 0;
}
.container2 h2{
    padding-bottom: 20px;
    color: #000;
}
.container2{
    width: 900px;
    margin: 50px auto;
    padding: 10px 50px 10px 50px;
    border: 5px solid;
    color: black;
    border-color: #A2C3F9;
}
.text2 h2{
  font-weight: bold;
}
.enlarge-on-hover {
  transition: transform 0.3s ease; 
}

.enlarge-on-hover:hover {
  transform: scale(1.1);
}
@media screen and (max-width: 955px){
    .container2{
        width: 500px;
    }
    .image2 img {
        max-width: 100%;
        height: auto;
      }
}
@media screen and (max-width: 560px){
    .container2{
        width: 350px;
    }
}
  .container2 {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .image2 {
    flex: 1;
    padding: 20px;
  }
  
  .text2 {
    flex: 1;
    padding: 20px;
  }
  
/**/
  .text2 h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .text2 p {
    font-size: 16px;
  }
  
  .image2 img {
    max-width: 100%;
    height: auto;
  }
  .text h1{
    padding-right: 50px;
}
.text h4{
    padding-right: 50px;
}

  
  @media screen and (max-width: 576px) {
    .container2 {
        flex-direction: column;
      }
    .text2 h2 {
      font-size: 20px;
    }
    .text h1{
        padding-right: 50px;
    }
    .text h4{
        padding-right: 50px;
    }
    
    .text2 p {
      font-size: 14px;
    }
  }
  @media screen and (max-width: 367px){
    .container2{
        width: 250px;
    }
}
  