@import "~boxicons/css/boxicons.min.css";
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
.fixed{
  position: fixed;
  width: 100%;
  transition: 0.2s linear;
  top: 0px;
}
.nofixed{
  position: static;
  transition: 0.2 linear;
  top: -50px
}
li, a, button{
  font-family: 'Henry Sans Bold', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5rem;
  color: #ffffff;
  text-decoration: none;
}
header{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 100%;
  height: 120px;
  background: linear-gradient(0deg, rgba(5,11,46,1) 30%, rgba(5,20,101,1) 100%);
  z-index: 100;
}
nav{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 100%;
  height: 120px;
}
.logo{
  cursor: pointer;
  margin-top: 30px;
}
nav .logo{
  display: none;
  margin-left: -15px;
}
nav .logo2{
  cursor: pointer;
  padding-top: 5px;
  margin-left: 15px;
  margin-right: 15px;
}
nav ul{
  display: flex;
  list-style: none;
  padding-right: 20px;
  flex-wrap: nowrap;
}
nav ul li{
  margin: 0 2px;
  font-weight: 600;
  padding: 25px;
  transition: 0.2s;
}
.lines{
  display: none;
  height: fit-content;
  cursor: pointer;
  padding: 3px 10px;
  border-radius: 5px;
  transition: 0.2;
  margin: 25px;
  position: absolute;
  right: 1px;
}
.bx {
  font-size: 50px;
  transition: transform 0.3s ease;
  color: #ffffff;
}
.bx-x {
  transform: rotate(90deg);
}
/* .lines:hover{
  background: #737279;
}
.lines div{
  width: 30px;
  height: 2px;
  margin: 6px 0;
  background: #000;
}
.lines:hover{
  background: #FF96A9;
} */
.logo{
  display: none;
  cursor: pointer;
  transition: 0.2;
  margin: 0 25px;
  margin-top: 10px;
  left: 1px;
}
#nav_check:checked ~ nav{
  top: 0;
  display: flex;
}
.active{
  background-color: #919191;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3 ease 0s;
}
.dropdown a{
  display: block;
  font-size: 1.3rem;
  margin-top: 5px;
}
ul li ul.dropdown{
  display: none;
  position: absolute;
  background-color: #051465;
  min-width: 20.5%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 10px;
  color: black;
  padding: 12px 15px;
  margin-top: 25px;
  margin-left: -25px;
}
ul li ul.dropdown a{
  padding: 10px;
}
.dropdown a:hover{
  background-color: #919191;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3 ease 0s;
  position: static;
}
ul li:hover ul.dropdown{
  display: block;
}
/*@media only screen and (max-width: 1800px) {
  header{
      padding: 0 30px;
  }
  .nav_links li{
      padding: 0px 10px;
  }
}*/

@media only screen and (max-width: 1242px) {
  header{
      width: 100%;
      padding: 0 20px;
      height: 80px;
  }
  nav{
      position: fixed; /*absolute*/
      top: -1000px;
      z-index: 1;
      width: 100%;
      height: 55vh;
      background-color: #051465;
      transition: 0.2s;
      margin-top: 80px;
  }
  nav .logo{
      display: block;
      height: 100px;
      margin-left: 50px;
      margin-bottom: 50px;
  }
  nav .logo2{
    display: none;
  }
  nav ul li a{
      /* margin-bottom: 5px;
      padding: 10px; */
      justify-content: center;
      display: flex;
  }
  nav ul{
      display: block;
  }
  /* nav ul li {
      margin-top: 15px;
  } */
  .lines{
    display: block;
    position: absolute;
  }
  .logo{
    display: block;
    position: absolute;
  }
  .dropdown a{
    display: none;
  }
  ul li ul.dropdown{
    display: none;
  }
  ul li ul.dropdown a{
    display: none;
  }
  .dropdown a:hover{
    display: none;
  }
  ul li:hover ul.dropdown{
    display: none;
  }
}
/* @media only screen and (max-width: 1560px){
  header{
      width: 100%;
      padding: 0 5px;
  }
  nav ul li{
      padding: 5px;
  }
} */
/*@media only screen and (max-width: 1400px) {
  .logo{
      margin-top: -40px;
  }
  .lines{
      display: block;
      cursor: pointer;
      margin-top: -40px;
      color: white;
  }
  .navbar .nav_links,
  .cta{
      display: none;
  }
  .navbar{
      top: 80px;
      left: 0;
      right: 0;
      height: 450px;
      position: absolute;
      width: 100vw;
      transition: 0.5;
      overflow: hidden;
  }
  .navbar ul{
      display: block;
      width: fit-content;
      margin: 80px auto 0 auto;
      text-align: center;
      transition: 0.5s;
      opacity: 0;
  }
  .navbar ul li a{
      margin-bottom: 12px;
  }
  header{
      padding: 0 10px;
  }
  .nav_links li{
      padding: 0 5px;
  }
}*/
