*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
li, a, button{
    font-family: 'Jost', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
    height: 100px;
    background-color: #001E55;
}
.logo{
    cursor: pointer;
    margin-top: 30px;
}
nav .logo{
    display: none;
    margin-left: -15px;
}
nav ul{
    display: flex;
    list-style: none;
    padding-right: 20px;
}
nav ul li{
    color: #ffffff;
    margin: 0 2px;
    font-weight: 600;
    padding: 12px;
    transition: 0.2s;
}
nav ul a:hover{
    color: #EBFF00;
}
.lines{
    display: none;
    height: fit-content;
    cursor: pointer;
    padding: 3px 10px;
    border-radius: 5px;
    transition: 0.2;
    margin: 25px;
}
.lines:hover{
    background: #737279;
}
.lines div{
    width: 30px;
    height: 2px;
    margin: 6px 0;
    background: #ffffff;
}
#nav_check:checked ~ nav{
    left: 0;
}
.active{
    background-color: #6ac982;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3 ease 0s;
}
/*@media only screen and (max-width: 1800px) {
    header{
        padding: 0 30px;
    }
    .nav_links li{
        padding: 0px 10px;
    }
}*/
@media only screen and (max-width: 1400px) {
    header{
        width: 100%;
        padding: 0 20px;
    }
    nav{
        position: absolute;
        left: -400px;
        top: 0;
        z-index: 500;
        width: 350px;
        height: 100vh;
        background-color: #001E55;
        transition: 0.2s;
        box-shadow: 2px 0 20px 0 rgba(0,0,0,0.5);
    }
    nav .logo{
        display: block;
        height: 100px;
        display: flex;
        align-items: center;
    }
    nav ul li a{
        margin-bottom: 5px;
        padding: 10px;
    }
    nav ul{
        display: block;
        padding: 0 20px;
        margin-top: 30px;
    }
    nav ul li {
        margin-top: 15px;
    }
    .lines{
        display: block;
    }
}
@media only screen and (max-width: 1450px){
    header{
        width: 100%;
        padding: 0 5px;
    }
    nav ul li{
        padding: 1px;
    }
}
@media only screen and (max-width: 1560px){
    header{
        width: 100%;
        padding: 0 5px;
    }
    nav ul li{
        padding: 5px;
    }
}
/*@media only screen and (max-width: 1400px) {
    .logo{
        margin-top: -40px;
    }
    .lines{
        display: block;
        cursor: pointer;
        margin-top: -40px;
        color: white;
    }
    .navbar .nav_links,
    .cta{
        display: none;
    }
    .navbar{
        top: 80px;
        left: 0;
        right: 0;
        height: 450px;
        position: absolute;
        width: 100vw;
        transition: 0.5;
        overflow: hidden;
    }
    .navbar ul{
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }
    .navbar ul li a{
        margin-bottom: 12px;
    }
    header{
        padding: 0 10px;
    }
    .nav_links li{
        padding: 0 5px;
    }
}*/
