<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet"/>
  </head>
  <body>
    <header data-aos="fade-down"
    data-aos-easing="linear"
    data-aos-duration="500">
      <img class="logo" src="/assets/logo/logo.png" alt="Ecotopia Logo" height="170px" width="170px"/>
      <nav>
        <ul class="nav_links">
          <li><a routerLink=''>Home</a></li>
          <li><a routerLink="overviewOfClimateChange">Overview of Climate Change</a></li>
          <li><a routerLink="currentIssue">Current Issues</a></li>
          <li><a routerLink="newsFeatures">News & Features</a></li>
          <li><a routerLink="">Cases</a></li>
          <li><a routerLink="">Solution</a></li>
          <li><a routerLink="">History</a></li>
          <li><a routerLink="">Explore</a></li>
          <li><a routerLink="games">Game</a></li>
        </ul>
      </nav>
      <a class="cta" href="#"><button>About Us</button></a>
    </header>
  </body>
</html>

<router-outlet></router-outlet>

