
<!--<app-admin-sidenav (onToggleSideNav)="onToggleSideNav($event)"></app-admin-sidenav>
<app-admin-body [collapsed]="isSideNavCollapsed"
[screenWidth]="screenWidth"></app-admin-body>>-->

<div class="navbar">
  <div class="parent">
    <div class="left-side margin-right">
      <div class="dropdown">
        <a>MATERIAL</a>
        <div class="dropdown-content">
          <a [routerLinkActive]="'active'" routerLink="currentIssue">Current Issues</a>
          <a [routerLinkActive]="'active'" routerLink="problems">Cases</a>
          <a [routerLinkActive]="'active'" routerLink="solutions">Solutions</a>
          <a [routerLinkActive]="'active'" routerLink="overviewOfClimateChange">Overview of Climate Change</a>
          <a [routerLinkActive]="'active'" routerLink="solutions">Assessment</a>
        </div>
      </div>

      <a [routerLinkActive]="'active'" routerLink="newsFeatures">News</a>
      <a [routerLinkActive]="'active'" routerLink="aboutus">About Us</a> 
    </div>

    <div class="center-logo">
      <a routerLink=""> <img src="assets/logo/logo.png" alt=""> </a>
    </div>

    <div class="right-side margin-left">
      <a [routerLinkActive]="'active'" routerLink="webtoon">Webtoon</a>
      <a [routerLinkActive]="'active'" routerLink="interactivevideo">Interactive</a>
      <a [routerLinkActive]="'active'" routerLink="games">Game</a> 
    </div>
  </div>
</div>

<router-outlet></router-outlet>

