@import url('https://fonts.cdnfonts.com/css/henry-sans');

* {
        font-family: 'Henry Sans', sans-serif;
}

/* Content */
.climate-change {
        margin-right: 5%;
        margin-left: 5%;
        padding-top: 2%;
}

.climate-change h1 {
        margin-bottom: 40px;
        background-color: #001DD3;
        border-radius: 10px;
        display: inline-block;
        padding: 10px 20px;
        color: #fff;
        font-weight: bolder;
        transition: all .45s ease;
        font-size: 40px;
}

.climate-change-info {
        color: black;
        margin-top: 10px;
}

.climate-change p {
        font-size: 21px;
}

/* Climate Change Scenario */
.ccs-table,
th,
td {
        border: 1px black solid;
        padding: 3px;
}

.ccs-sub-div1 {
        padding: 30px;
}

table,
td,
th {
        padding: 10px;
}

.ccs-sub-div2 {
        padding-left: 100px;
        padding-right: 50px;
        margin-right: 80px;
        font-size: 20px;
}

.ccs-div2 {
        display: flex;
}

.padding-top-40px {
        padding-top: 40px;
}

.ccs-div3 {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-left: 30px;
        padding-right: 30px;
}

.ccs-sub-confidence-climate-projection {
        display: flex;
}

.ccot-cccp {
        display: flex;
        width: 100%;
        justify-content: space-evenly;

}

/* Current Climate Trends in PH */
.ccs-cct-1 {
        display: flex;
        justify-content: center;
        padding: 10px;
}

.ccs-cct-2 {
        display: flex;
}

.ccs-cct-padding {
        padding: 10px;
}

.cp-sstc {
        display: flex;
}

.padding-top-30px {
        padding-top: 30px;
}

.publish-container {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 50px;
}

.publish:hover {
        background: #000;
      }
      
      .publish {
        border-radius: 20px;
        border: 1px solid ;
        background-color: #001DD3;
        transition: background-color 0.1s ease-in-out;
        font-size: 2rem;
        padding: 10px;
        color: white;
        font-weight: 600;
        letter-spacing: 1.65px;
      }

.resizable-input {
        resize: both;
}

/* :host >>> .panel.customClass .panel-body {
    background-color: #1b3a8a;
} */

/* End of Content */

@media (max-width: 768px) {
        .images {
                width: 80%;
                height: 60%;
                overflow: hidden;
        }

        .wrap {
                flex-wrap: wrap;
                padding: 0;
        }

        .wrap img {
                width: 100%;
        }
}

@media screen and (max-width: 858px) {
        .climate-change h1 {
                text-align: center;
                display: block;
                margin: 20px;
                margin-top: 20px;
        }
}