<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap"
      rel="stylesheet"
    />
    <title></title>
  </head>
  <body>
    <main>
      <div class="text" data-aos="fade-up">
        <h1>Why should we take action?</h1>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only
          five centuries, but also the leap into electronic typesetting,
          remaining essentially unchanged. It was popularised in the 1960s with
          the release of Letraset sheets containing Lorem Ipsum passages, nd
          more recently with desktop publishing software like Aldus PageMaker
          including versions of Lorem Ipsum.
          <br />
          <br />
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only
          five centuries, but also the leap into electronic typesetting,
          remaining essentially unchanged. It was popularised in the 1960s with
          the release of Letraset sheets containing Lorem Ipsum passages, nd
          more recently with desktop publishing software like Aldus PageMaker
          including versions of Lorem Ipsum.
          <br />
          <br />
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only
          five centuries, but also the leap into electronic typesetting,
          remaining essentially unchanged. It was popularised in the 1960s with
          the release of Letraset sheets containing Lorem Ipsum passages, nd
          more recently with desktop publishing software like Aldus PageMaker
          including versions of Lorem Ipsum.
        </p>

        <ul>
          <li>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore.
          </li>
          <li>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore.
          </li>
          <li>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore.
          </li>
          <li>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore.
          </li>
        </ul>
      </div>

      <div class="flex-container">
        <div class="flex-box">
          <h1 data-aos="fade-up" data-aos-duration="1000">Solutions</h1>
          <h3 data-aos="fade-up" data-aos-duration="1000">
            Solution 1 - Title
          </h3>
          <p data-aos="fade-up" data-aos-duration="1000">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur.
          </p>

          <div class="viewmore" data-aos="fade-up" data-aos-duration="1000">
            <br /><a href="#" target="_blank">view more</a>
          </div>

          <h3 data-aos="fade-up" data-aos-duration="1000">
            Solution 2 - Title
          </h3>
          <p data-aos="fade-up" data-aos-duration="1000">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur.
          </p>

          <div class="viewmore" data-aos="fade-up" data-aos-duration="1000">
            <br /><a href="#" target="_blank">view more</a>
          </div>

          <h3 data-aos="fade-up" data-aos-duration="1000">
            Solution 3 - Title
          </h3>
          <p data-aos="fade-up" data-aos-duration="1000">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur.
          </p>

          <div class="viewmore" data-aos="fade-up" data-aos-duration="1000">
            <br /><a href="#" target="_blank">view more</a>
          </div>

          <h3 data-aos="fade-up" data-aos-duration="1000">
            Solution 4 - Title
          </h3>
          <p data-aos="fade-up" data-aos-duration="1000">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur.
          </p>

          <div class="viewmore" data-aos="fade-up" data-aos-duration="1000">
            <br /><a href="#" target="_blank">view more</a>
          </div>

          <h3 data-aos="fade-up" data-aos-duration="1000">
            Solution 5 - Title
          </h3>
          <p data-aos="fade-up" data-aos-duration="1000">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur.
          </p>

          <div class="viewmore" data-aos="fade-up" data-aos-duration="1000">
            <br /><a href="#" target="_blank">view more</a>
          </div>
        </div>
      </div>

      <div class="assessment" data-aos="fade-up" data-aos-duration="1000">
        <h1>Assessments</h1>

        <div class="container">
          <h2>Pop Quiz</h2>
          <ol type="1">
            <li>
              <p>Ano ang Climate Change?</p>
              <input type="radio" name="q1" value="paris" /> Paris<br />
              <input type="radio" name="q1" value="london" /> London<br />
              <input type="radio" name="q1" value="rome" /> Rome<br />
              <input type="radio" name="q1" value="berlin" /> Berlin<br />
            </li>
            <li>
              <p>Bibigyan ba ako ni mami oni ng iphone14?</p>
              <input type="radio" name="q2" value="picasso" /> Oo<br />
              <input type="radio" name="q2" value="da-vinci" /> Hindi<br />
              <input type="radio" name="q2" value="van-gogh" /> Depende<br />
              <input type="radio" name="q2" value="warhol" /> Siguro<br />
            </li>
            <li>
              <p>Ano ang epekto ng Climate Change?</p>
              <input type="radio" name="q3" value="jupiter" /> Jupiter<br />
              <input type="radio" name="q3" value="venus" /> Venus<br />
              <input type="radio" name="q3" value="mars" /> Mars<br />
              <input type="radio" name="q3" value="saturn" /> Saturn<br />
            </li>
            <li>
              <p>Bibigyan ba ako ni mami oni ng iphone14?</p>
              <input type="radio" name="q4" value="picasso" /> Oo<br />
              <input type="radio" name="q4" value="da-vinci" /> Hindi<br />
              <input type="radio" name="q4" value="van-gogh" /> Depende<br />
              <input type="radio" name="q4" value="warhol" /> Siguro<br />
            </li>
            <li>
              <p>Bibigyan ba ako ni mami oni ng iphone14?</p>
              <input type="radio" name="q5" value="picasso" /> Oo<br />
              <input type="radio" name="q5" value="da-vinci" /> Hindi<br />
              <input type="radio" name="q5" value="van-gogh" /> Depende<br />
              <input type="radio" name="q5" value="warhol" /> Siguro<br />
            </li>
            <li>
              <p>Bibigyan ba ako ni mami oni ng iphone14?</p>
              <input type="radio" name="q6" value="picasso" /> Oo<br />
              <input type="radio" name="q6" value="da-vinci" /> Hindi<br />
              <input type="radio" name="q6" value="van-gogh" /> Depende<br />
              <input type="radio" name="q6" value="warhol" /> Siguro<br />
            </li>
            <li>
              <p>Bibigyan ba ako ni mami oni ng iphone14?</p>
              <input type="radio" name="q7" value="picasso" /> Oo<br />
              <input type="radio" name="q7" value="da-vinci" /> Hindi<br />
              <input type="radio" name="q7" value="van-gogh" /> Depende<br />
              <input type="radio" name="q7" value="warhol" /> Siguro<br />
            </li>
            <li>
              <p>Bibigyan ba ako ni mami oni ng iphone14?</p>
              <input type="radio" name="q8" value="picasso" /> Oo<br />
              <input type="radio" name="q8" value="da-vinci" /> Hindi<br />
              <input type="radio" name="q8" value="van-gogh" /> Depende<br />
              <input type="radio" name="q8" value="warhol" /> Siguro<br />
            </li>
            <li>
              <p>Bibigyan ba ako ni mami oni ng iphone14?</p>
              <input type="radio" name="q9" value="picasso" /> Oo<br />
              <input type="radio" name="q9" value="da-vinci" /> Hindi<br />
              <input type="radio" name="q9" value="van-gogh" /> Depende<br />
              <input type="radio" name="q9" value="warhol" /> Siguro<br />
            </li>
            <li>
              <p>Bibigyan ba ako ni mami oni ng iphone14?</p>
              <input type="radio" name="q10" value="picasso" /> Oo<br />
              <input type="radio" name="q10" value="da-vinci" /> Hindi<br />
              <input type="radio" name="q10" value="van-gogh" /> Depende<br />
              <input type="radio" name="q10" value="warhol" /> Siguro<br />
            </li>
          </ol>
          <button type="button" onclick="submitQuiz()">Submit Quiz</button>
          <div id="result"></div>
        </div>
      </div>

      <div class="assessment2" data-aos="fade-up" data-aos-duration="1000">
      <div class="container2">
        <h2>Trivia Game</h2>
        <ol type="1">
          <li>
            <p>Ano ang Climate Change?</p>
            <input type="radio" name="q1" value="paris" /> Paris<br />
            <input type="radio" name="q1" value="london" /> London<br />
            <input type="radio" name="q1" value="rome" /> Rome<br />
            <input type="radio" name="q1" value="berlin" /> Berlin<br />
          </li>
          <li>
            <p>Bibigyan ba ako ni mami oni ng iphone14?</p>
            <input type="radio" name="q2" value="picasso" /> Oo<br />
            <input type="radio" name="q2" value="da-vinci" /> Hindi<br />
            <input type="radio" name="q2" value="van-gogh" /> Depende<br />
            <input type="radio" name="q2" value="warhol" /> Siguro<br />
          </li>
          <li>
            <p>Ano ang epekto ng Climate Change?</p>
            <input type="radio" name="q3" value="jupiter" /> Jupiter<br />
            <input type="radio" name="q3" value="venus" /> Venus<br />
            <input type="radio" name="q3" value="mars" /> Mars<br />
            <input type="radio" name="q3" value="saturn" /> Saturn<br />
          </li>
          <li>
            <p>Bibigyan ba ako ni mami oni ng iphone14?</p>
            <input type="radio" name="q4" value="picasso" /> Oo<br />
            <input type="radio" name="q4" value="da-vinci" /> Hindi<br />
            <input type="radio" name="q4" value="van-gogh" /> Depende<br />
            <input type="radio" name="q4" value="warhol" /> Siguro<br />
          </li>
          <li>
            <p>Bibigyan ba ako ni mami oni ng iphone14?</p>
            <input type="radio" name="q5" value="picasso" /> Oo<br />
            <input type="radio" name="q5" value="da-vinci" /> Hindi<br />
            <input type="radio" name="q5" value="van-gogh" /> Depende<br />
            <input type="radio" name="q5" value="warhol" /> Siguro<br />
          </li>
          <li>
            <p>Bibigyan ba ako ni mami oni ng iphone14?</p>
            <input type="radio" name="q6" value="picasso" /> Oo<br />
            <input type="radio" name="q6" value="da-vinci" /> Hindi<br />
            <input type="radio" name="q6" value="van-gogh" /> Depende<br />
            <input type="radio" name="q6" value="warhol" /> Siguro<br />
          </li>
          <li>
            <p>Bibigyan ba ako ni mami oni ng iphone14?</p>
            <input type="radio" name="q7" value="picasso" /> Oo<br />
            <input type="radio" name="q7" value="da-vinci" /> Hindi<br />
            <input type="radio" name="q7" value="van-gogh" /> Depende<br />
            <input type="radio" name="q7" value="warhol" /> Siguro<br />
          </li>
          <li>
            <p>Bibigyan ba ako ni mami oni ng iphone14?</p>
            <input type="radio" name="q8" value="picasso" /> Oo<br />
            <input type="radio" name="q8" value="da-vinci" /> Hindi<br />
            <input type="radio" name="q8" value="van-gogh" /> Depende<br />
            <input type="radio" name="q8" value="warhol" /> Siguro<br />
          </li>
          <li>
            <p>Bibigyan ba ako ni mami oni ng iphone14?</p>
            <input type="radio" name="q9" value="picasso" /> Oo<br />
            <input type="radio" name="q9" value="da-vinci" /> Hindi<br />
            <input type="radio" name="q9" value="van-gogh" /> Depende<br />
            <input type="radio" name="q9" value="warhol" /> Siguro<br />
          </li>
          <li>
            <p>Bibigyan ba ako ni mami oni ng iphone14?</p>
            <input type="radio" name="q10" value="picasso" /> Oo<br />
            <input type="radio" name="q10" value="da-vinci" /> Hindi<br />
            <input type="radio" name="q10" value="van-gogh" /> Depende<br />
            <input type="radio" name="q10" value="warhol" /> Siguro<br />
          </li>
        </ol>
        <button type="button" onclick="submitQuiz()">Submit Quiz</button>
        <div id="result"></div>
      </div>
    </div>
    </main>
    <footer>
      <app-footer></app-footer>
    </footer>
  </body>
</html>
