<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap"
      rel="stylesheet"
    />
    <title></title>
  </head>
  <body>
    <div class="background" style="margin-bottom: 50px">
      <img
        src="assets/solutionsimages/actnow.jpg"
        alt="Act now! image"
        width="100%"
      />
    </div>

    <div class="text">
      <h1>solutions of climate change</h1>
    </div>

    <div class="card-container">
      <div class="card" style=" background-color: #77CEC1;" data-aos="zoom-in">
        <img
          src="assets/solutionsimages/action.jpg"
          alt="People cleaning in the beach Image"
        />
        <div class="card-content">
          <h3>why should we take actions?</h3>
          <p style="margin-bottom: 55px;">
            Climate change is one of the most challenging problems that humanity
            has ever faced. At stake are hundreds of millions of lives,
            innumerable species and ecosystems, the health and viability of the
            economy, and the future habitability of this planet.
          </p>
          <a class="learn-more-button" href="whyshouldwetakeactions"
            >Learn More</a
          >
        </div>
      </div>

      <div class="spacer"></div>

      <div class="card" style="background-color: #6051e3" data-aos="zoom-in">
        <img src="assets/solutionsimages/solutions.jpg" alt="Man Cleaning Image" />
        <div class="card-content">
          <h3>what are the other solutions to cimate change?</h3>
          <p style="margin-bottom: 90px">
            Climate change is a serious problem that affects millions of lives,
            but there are solutions. The solutions can help us stop global
            warming and create a better future for everyone.
          </p>
          <a class="learn-more-button" href="othersolutions">Learn More</a>
        </div>
      </div>
    </div>

    <div class="card-container" style="margin-top: 20px" data-aos="zoom-in">
      <div class="card" style="background-color: #e89b12">
        <img src="assets/solutionsimages/plants.jpg" alt="Plants Image" />
        <div class="card-content">
          <h3>Responding to Climate Change</h3>
          <p>
            Mitigation and adaptation are crucial elements in addressing climate
            change. Mitigation focuses on reducing the causes of climate change,
            while adaptation aims to manage its impacts. A comprehensive
            approach that integrates both strategies is vital for establishing a
            sustainable and resilient future in the context of climate change.
          </p>
          <a class="learn-more-button" href="respondingtoclimatechange"
            >Learn More</a
          >
        </div>
      </div>

      <div class="spacer"></div>

      <div class="card" style="background-color: #879df8" data-aos="zoom-in">
        <img src="assets/solutionsimages/city.jpg" alt="City Image" />
        <div class="card-content">
          <h3>Sustainability and Government Resources</h3>
          <p>
            Sustainability encompasses the proactive measures undertaken to
            safeguard the environment, ensuring favorable living conditions not
            only for the present generation but also for the generations to
            come, emphasizing the importance of responsible resource management
            and promoting practices that balance ecological, social, and
            economic needs.
          </p>
          <a class="learn-more-button" href="governmentresources">Learn More</a>
        </div>
      </div>
    </div>
  </body>
</html>
