/* body {
    margin: 0;
    padding: 100px;
    background-image: url("src/assets/escaperoom/border.png");
    background-size: 1000px 700px;
    background-position: center;
    background-repeat: no-repeat;
} */

#gameContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
    margin-bottom: 1%;
    position: relative;
    width: 100%;
}
