<body>
    <div class="container">
     <div id="gameContainer"></div>

     <div class="details">
        <h6><b>GAME DETAILS</b></h6>
        <p>Click the text of your choice to pick an answer</p>
       
        <hr>
        <div class="game-description">
            "Climate Escape" is an arcade game designed to raise awareness about water pollution and climate change. The game encourages players to protect water bodies through its gameplay. Players navigate through various water environments across five scenarios. Each scenario presents a question with four choices, two of which are correct and two incorrect. Correct answers earn points, while incorrect answers reduce the player’s life. The game ends when the player runs out of life. The aim is to educate and empower players about environmental preservation while providing an engaging gaming experience.
        </div>
       
    </div>
    </div>

    

    <!-- <section class="details">
       
        
    </section> -->
   
</body>
<app-footer></app-footer>
