body{
    margin: 0px;
    padding: 0px;
}
#gameContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4.5%;
    margin-bottom: 5%;
    position: relative; 
    width: 100%;
    
}
img{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    margin-top: 8%;
    margin-left: 25%;
    object-fit: contain;
}