<main>
  <div class="content">
    <div
      class="textbox"
      data-aos="fade-right"
      *ngFor="let item of problem_trash"
    >
      <div *ngIf="!editing_header" (click)="startEditingHeader()">
        <h2>{{ header }}</h2>
      </div>
      <h3>
        <textarea
          style="font-size: 3rem; color: #0030ff; font-weight: 600"
          *ngIf="editing_header"
          (blur)="finishEditingHeader($event)"
          class="resizable-input"
          (ngModelChange)="doesChange()"
          [(ngModel)]="problem_trash[0].header"
        ></textarea>
      </h3>

      <div
        *ngIf="!editing_header_desc"
        (click)="startEditingHeaderDescription()"
      >
        <p>{{ header_desc }}</p>
      </div>

      <textarea
        style="font-size: 1.5rem"
        *ngIf="editing_header_desc"
        (blur)="finishEditingHeaderDescription($event)"
        class="resizable-input"
        (ngModelChange)="doesChange()"
        [(ngModel)]="problem_trash[0].header_description"
      ></textarea>
    </div>
    <img
      src="/assets/casesimages/cases1.png"
      alt="sad earth"
      data-aos="fade-left"
    />
  </div>

  <div *ngFor="let item of problem_trash">
    <div *ngIf="!editing_title" (click)="startEditingTitle()">
      <h1
        style="
          color: #0030ff;
          text-align: center;
          font-size: 50px;
          font-weight: bold;
        "
      >
        {{ header_title }}
      </h1>
    </div>

    <textarea
      style="
        color: #0030ff;
        text-align: center;
        font-size: 50px;
        font-weight: bold;
      "
      *ngIf="editing_title"
      (blur)="finishEditingTitle($event)"
      class="resizable-input"
      (ngModelChange)="doesChange()"
      [(ngModel)]="problem_trash[0].title"
    ></textarea>
  </div>

  <div
    class="card-container"
    data-aos="zoom-in"
    *ngFor="let item of problem_trash"
  >
    <div class="card" style="border-color: #c15669; align-items: center">
      <div class="card-content">
        <div *ngIf="!editing_case1" (click)="startEditingCase1()">
          <h2>
            <a
              class="learn-more-button"
              style="text-decoration: none; color: #c15669"
            >
              <i class="fal fa-times fa-trash"></i>
              {{ case1[0] }}
            </a>
          </h2>
        </div>

        <h2>
          <textarea
            style="text-decoration: none; color: #c15669; font-weight: 500"
            *ngIf="editing_case1"
            (blur)="finishEditingCase1($event)"
            class="resizable-input"
            (ngModelChange)="doesChange()"
            [(ngModel)]="problem_trash[0].cases.case1[0]"
          ></textarea>
        </h2>

        <p><i>(linked to problem 1)</i></p>
      </div>
    </div>

    <div class="card" style="border-color: #5e55db; align-items: center">
      <div class="card-content">
        <h2>
          <div *ngIf="!editing_case2" (click)="startEditingCase2()">
            <a
              class="learn-more-button"
              style="text-decoration: none; color: #5e55db"
            >
              <i class="fal fa-times fa-trash"></i>
              {{ case2[0] }}
            </a>
          </div>

          <textarea
            style="text-decoration: none; color: #5e55db; font-weight: 500"
            *ngIf="editing_case2"
            (blur)="finishEditingCase2($event)"
            class="resizable-input"
            (ngModelChange)="doesChange()"
            [(ngModel)]="problem_trash[0].cases.case2[0]"
          ></textarea>
        </h2>

        <p><i>(linked to problem 2)</i></p>
      </div>
    </div>

    <div class="card" style="border-color: #dd9e3b; align-items: center">
      <div class="card-content">
        <h2>
          <div *ngIf="!editing_case3" (click)="startEditingCase3()">
            <a
              class="learn-more-button"
              style="text-decoration: none; color: #dd9e3b"
            >
              <i class="fal fa-times fa-trash"></i>
              {{ case3[0] }}
            </a>
          </div>

          <textarea
            style="text-decoration: none; color: #dd9e3b; font-weight: 500"
            *ngIf="editing_case3"
            (blur)="finishEditingCase3($event)"
            class="resizable-input"
            (ngModelChange)="doesChange()"
            [(ngModel)]="problem_trash[0].cases.case3[0]"
          ></textarea>
        </h2>

        <p><i>(linked to problem 3)</i></p>
      </div>
    </div>

    <div class="card" style="border-color: #396a63; align-items: center">
      <div class="card-content">
        <h2>
          <div *ngIf="!editing_case4" (click)="startEditingCase4()">
            <a
              class="learn-more-button"
              style="text-decoration: none; color: #396a63"
            >
              <i class="fal fa-times fa-trash"></i>
              {{ case4[0] }}
            </a>
          </div>

          <textarea
            style="text-decoration: none; color: #396a63; font-weight: 500"
            *ngIf="editing_case4"
            (blur)="finishEditingCase4($event)"
            class="resizable-input"
            (ngModelChange)="doesChange()"
            [(ngModel)]="problem_trash[0].cases.case4[0]"
          ></textarea>
        </h2>

        <p><i>(linked to problem 3)</i></p>
      </div>
    </div>
  </div>
  <hr style="width: 100%" />

  <div class="text" *ngFor="let item of problem_trash">
    <h1 style="padding-top: 50px; color: #c15669">
      {{ item.cases.case1[0] }}
    </h1>

    <ul style="margin-top: -20px">
      <!-- BULLET 1 -->
      <li>
        <div *ngIf="!editing_bullet_1[0]" (click)="startEditingBullet1Title()">
          <b style="color: #ff96a9; font-size: 27px">
            {{ bullet1[0] }}
          </b>
        </div>

        <textarea
          style="color: #ff96a9; font-size: 27px; font-weight: 600"
          *ngIf="editing_bullet_1[0]"
          (blur)="finishEditingBullet1Title($event)"
          class="resizable-input"
          (ngModelChange)="doesChange()"
          [(ngModel)]="problem_trash[0].bullets.bullet_1[0]"
        ></textarea>

        <div
          *ngIf="!editing_bullet_1[1]"
          (click)="startEditingBullet1Description1()"
        >
          <p>- {{ bullet1[1] }}</p>
        </div>

        <textarea
          *ngIf="editing_bullet_1[1]"
          (blur)="finishEditingBullet1Description1($event)"
          class="resizable-input"
          (ngModelChange)="doesChange()"
          [(ngModel)]="problem_trash[0].bullets.bullet_1[1]"
        ></textarea>

        <div
          *ngIf="!editing_bullet_1[2]"
          (click)="startEditingBullet1Description2()"
        >
          <p>- {{ bullet1[2] }}</p>
        </div>

        <textarea
          *ngIf="editing_bullet_1[2]"
          (blur)="finishEditingBullet1Description2($event)"
          class="resizable-input"
          (ngModelChange)="doesChange()"
          [(ngModel)]="problem_trash[0].bullets.bullet_1[2]"
        ></textarea>
      </li>
      <!-- BULLET 2 -->
      <li>
        <div *ngIf="!editing_bullet_2[0]" (click)="startEditingBullet2Title()">
          <b style="color: #ff96a9; font-size: 27px"> {{ bullet2[0] }}</b>
        </div>

        <textarea
          style="color: #ff96a9; font-size: 27px; font-weight: 600"
          *ngIf="editing_bullet_2[0]"
          (blur)="finishEditingBullet2Title($event)"
          class="resizable-input"
          [(ngModel)]="problem_trash[0].bullets.bullet_2[0]"
        ></textarea>

        <div *ngIf="!editing_bullet_2[1]" (click)="startEditingBullet2Desc1()">
          <p>- {{ bullet2[1] }}</p>
        </div>

        <textarea
          *ngIf="editing_bullet_2[1]"
          (blur)="finishEditingBullet2Desc1($event)"
          class="resizable-input"
          (ngModelChange)="doesChange()"
          [(ngModel)]="problem_trash[0].bullets.bullet_2[1]"
        ></textarea>

        <div *ngIf="!editing_bullet_2[2]" (click)="startEditingBullet2Desc2()">
          <p>- {{ bullet2[2] }}</p>
        </div>

        <textarea
          *ngIf="editing_bullet_2[2]"
          (blur)="finishEditingBullet2Desc2($event)"
          class="resizable-input"
          (ngModelChange)="doesChange()"
          [(ngModel)]="problem_trash[0].bullets.bullet_2[2]"
        ></textarea>

        <div *ngIf="!editing_bullet_2[3]" (click)="startEditingBullet2Desc3()">
          <p>- {{ bullet2[3] }}</p>
        </div>

        <textarea
          *ngIf="editing_bullet_2[3]"
          (blur)="finishEditingBullet2Desc3($event)"
          class="resizable-input"
          (ngModelChange)="doesChange()"
          [(ngModel)]="problem_trash[0].bullets.bullet_2[3]"
        ></textarea>

        <div *ngIf="!editing_bullet_2[4]" (click)="startEditingBullet2Desc4()">
          <p>- {{ bullet2[4] }}</p>
        </div>

        <textarea
          *ngIf="editing_bullet_2[4]"
          (blur)="finishEditingBullet2Desc4($event)"
          class="resizable-input"
          (ngModelChange)="doesChange()"
          [(ngModel)]="problem_trash[0].bullets.bullet_2[4]"
        ></textarea>
      </li>
      <!-- BULLET 3 -->
      <li>
        <div *ngIf="!editing_bullet_3[0]" (click)="startEditingBullet3Title()">
          <b style="color: #ff96a9; font-size: 27px"> {{ bullet3[0] }}</b>
        </div>

        <textarea
          style="color: #ff96a9; font-size: 27px; font-weight: 600"
          *ngIf="editing_bullet_3[0]"
          (blur)="finishEditingBullet3Title($event)"
          class="resizable-input"
          (ngModelChange)="doesChange()"
          [(ngModel)]="problem_trash[0].bullets.bullet_3[0]"
        ></textarea>

        <div *ngIf="!editing_bullet_3[1]" (click)="startEditingBullet3Desc1()">
          <p>- {{ bullet3[1] }}</p>
        </div>

        <textarea
          *ngIf="editing_bullet_3[1]"
          (blur)="finishEditingBullet3Desc1($event)"
          class="resizable-input"
          (ngModelChange)="doesChange()"
          [(ngModel)]="problem_trash[0].bullets.bullet_3[1]"
        ></textarea>

        <div *ngIf="!editing_bullet_3[2]" (click)="startEditingBullet3Desc2()">
          <p>- {{ bullet3[2] }}</p>
        </div>

        <textarea
          *ngIf="editing_bullet_3[2]"
          (blur)="finishEditingBullet3Desc2($event)"
          class="resizable-input"
          (ngModelChange)="doesChange()"
          [(ngModel)]="problem_trash[0].bullets.bullet_3[2]"
        ></textarea>

        <div *ngIf="!editing_bullet_3[3]" (click)="startEditingBullet3Desc3()">
          <p>- {{ bullet3[3] }}</p>
        </div>

        <textarea
          *ngIf="editing_bullet_3[3]"
          (blur)="finishEditingBullet3Desc3($event)"
          class="resizable-input"
          (ngModelChange)="doesChange()"
          [(ngModel)]="problem_trash[0].bullets.bullet_3[3]"
        ></textarea>

        <div *ngIf="!editing_bullet_3[4]" (click)="startEditingBullet3Desc4()">
          <p>- {{ bullet3[4] }}</p>
        </div>

        <textarea
          *ngIf="editing_bullet_3[4]"
          (blur)="finishEditingBullet3Desc4($event)"
          class="resizable-input"
          (ngModelChange)="doesChange()"
          [(ngModel)]="problem_trash[0].bullets.bullet_3[4]"
        ></textarea>
      </li>

      <!-- BULLET 4 -->
      <li>
        <div *ngIf="!editing_bullet_4[0]" (click)="startEditingBullet4Title()">
          <b style="color: #ff96a9; font-size: 27px"> {{ bullet4[0] }}</b>
        </div>

        <textarea
          style="color: #ff96a9; font-size: 27px; font-weight: 600"
          *ngIf="editing_bullet_4[0]"
          (blur)="finishEditingBullet4Title($event)"
          class="resizable-input"
          (ngModelChange)="doesChange()"
          [(ngModel)]="problem_trash[0].bullets.bullet_4[0]"
        ></textarea>

        <div *ngIf="!editing_bullet_4[1]" (click)="startEditingBullet4Desc1()">
          <p>- {{ bullet4[1] }}</p>
        </div>

        <textarea
          *ngIf="editing_bullet_4[1]"
          (blur)="finishEditingBullet4Desc1($event)"
          class="resizable-input"
          (ngModelChange)="doesChange()"
          [(ngModel)]="problem_trash[0].bullets.bullet_4[1]"
        ></textarea>

        <div *ngIf="!editing_bullet_4[2]" (click)="startEditingBullet4Desc2()">
          <p>- {{ bullet4[2] }}</p>
        </div>

        <textarea
          *ngIf="editing_bullet_4[2]"
          (blur)="finishEditingBullet4Desc2($event)"
          class="resizable-input"
          (ngModelChange)="doesChange()"
          [(ngModel)]="problem_trash[0].bullets.bullet_4[2]"
        ></textarea>

        <div *ngIf="!editing_bullet_4[3]" (click)="startEditingBullet4Desc3()">
          <p>- {{ bullet4[3] }}</p>
        </div>

        <textarea
          *ngIf="editing_bullet_4[3]"
          (blur)="finishEditingBullet4Desc3($event)"
          class="resizable-input"
          (ngModelChange)="doesChange()"
          [(ngModel)]="problem_trash[0].bullets.bullet_4[3]"
        ></textarea>

        <div *ngIf="!editing_bullet_4[4]" (click)="startEditingBullet4Desc4()">
          <p>- {{ bullet4[4] }}</p>
        </div>

        <textarea
          *ngIf="editing_bullet_4[4]"
          (blur)="finishEditingBullet4Desc4($event)"
          class="resizable-input"
          (ngModelChange)="doesChange()"
          [(ngModel)]="problem_trash[0].bullets.bullet_4[4]"
        ></textarea>

        <div *ngIf="!editing_bullet_4[5]" (click)="startEditingBullet4Desc5()">
          <p>- {{ bullet4[5] }}</p>
        </div>

        <textarea
          *ngIf="editing_bullet_4[5]"
          (blur)="finishEditingBullet4Desc5($event)"
          class="resizable-input"
          (ngModelChange)="doesChange()"
          [(ngModel)]="problem_trash[0].bullets.bullet_4[5]"
        ></textarea>
      </li>

      <!-- BULLET 5 -->
      <li>
        <div *ngIf="!editing_bullet_5[0]" (click)="startEditingBullet5Title()">
          <b style="color: #ff96a9; font-size: 27px"> {{ bullet5[0] }}</b>
        </div>

        <textarea
          style="color: #ff96a9; font-size: 27px; font-weight: 600"
          *ngIf="editing_bullet_5[0]"
          (blur)="finishEditingBullet5Title($event)"
          class="resizable-input"
          (ngModelChange)="doesChange()"
          [(ngModel)]="problem_trash[0].bullets.bullet_5[0]"
        ></textarea>

        <div *ngIf="!editing_bullet_5[1]" (click)="startEditingBullet5Desc1()">
          <p>- {{ bullet5[1] }}</p>
        </div>

        <textarea
          *ngIf="editing_bullet_5[1]"
          (blur)="finishEditingBullet5Desc1($event)"
          class="resizable-input"
          (ngModelChange)="doesChange()"
          [(ngModel)]="problem_trash[0].bullets.bullet_5[1]"
        ></textarea>

        <div *ngIf="!editing_bullet_5[2]" (click)="startEditingBullet5Desc2()">
          <p>- {{ bullet5[2] }}</p>
        </div>

        <textarea
          *ngIf="editing_bullet_5[2]"
          (blur)="finishEditingBullet5Desc2($event)"
          class="resizable-input"
          (ngModelChange)="doesChange()"
          [(ngModel)]="problem_trash[0].bullets.bullet_5[2]"
        ></textarea>
      </li>

      <!-- BULET 6 -->
      <li>
        <div *ngIf="!editing_bullet_6[0]" (click)="startEditingBullet6Title()">
          <b style="color: #ff96a9; font-size: 27px"> {{ bullet6[0] }}</b>
        </div>

        <textarea
          style="color: #ff96a9; font-size: 27px; font-weight: 600"
          *ngIf="editing_bullet_6[0]"
          (blur)="finishEditingBullet6Title($event)"
          class="resizable-input"
          (ngModelChange)="doesChange()"
          [(ngModel)]="problem_trash[0].bullets.bullet_6[0]"
        ></textarea>

        <div *ngIf="!editing_bullet_6[1]" (click)="startEditingBullet6Desc1()">
          <p>- {{ bullet6[1] }}</p>
        </div>

        <textarea
          *ngIf="editing_bullet_6[1]"
          (blur)="finishEditingBullet6Desc1($event)"
          class="resizable-input"
          (ngModelChange)="doesChange()"
          [(ngModel)]="problem_trash[0].bullets.bullet_6[1]"
        ></textarea>

        <div *ngIf="!editing_bullet_6[2]" (click)="startEditingBullet6Desc2()">
          <p>- {{ bullet6[2] }}</p>
        </div>

        <textarea
          *ngIf="editing_bullet_6[2]"
          (blur)="finishEditingBullet6Desc2($event)"
          class="resizable-input"
          (ngModelChange)="doesChange()"
          [(ngModel)]="problem_trash[0].bullets.bullet_6[2]"
        ></textarea>

        <div *ngIf="!editing_bullet_6[3]" (click)="startEditingBullet6Desc3()">
          <p>- {{ bullet6[3] }}</p>
        </div>

        <textarea
          *ngIf="editing_bullet_6[3]"
          (blur)="finishEditingBullet6Desc3($event)"
          class="resizable-input"
          (ngModelChange)="doesChange()"
          [(ngModel)]="problem_trash[0].bullets.bullet_6[3]"
        ></textarea>

        <div *ngIf="!editing_bullet_6[4]" (click)="startEditingBullet6Desc4()">
          <p>- {{ bullet6[4] }}</p>
        </div>

        <textarea
          *ngIf="editing_bullet_6[4]"
          (blur)="finishEditingBullet6Desc4($event)"
          class="resizable-input"
          (ngModelChange)="doesChange()"
          [(ngModel)]="problem_trash[0].bullets.bullet_6[4]"
        ></textarea>

        <div *ngIf="!editing_bullet_6[5]" (click)="startEditingBullet6Desc5()">
          <p>- {{ bullet6[5] }}</p>
        </div>

        <textarea
          *ngIf="editing_bullet_6[5]"
          (blur)="finishEditingBullet6Desc5($event)"
          class="resizable-input"
          (ngModelChange)="doesChange()"
          [(ngModel)]="problem_trash[0].bullets.bullet_6[5]"
        ></textarea>
        <div *ngIf="!editing_bullet_6[6]" (click)="startEditingBullet6Desc6()">
          <p>- {{ bullet6[6] }}</p>
        </div>

        <textarea
          *ngIf="editing_bullet_6[6]"
          (blur)="finishEditingBullet6Desc6($event)"
          class="resizable-input"
          (ngModelChange)="doesChange()"
          [(ngModel)]="problem_trash[0].bullets.bullet_6[6]"
        ></textarea>

        <div *ngIf="!editing_bullet_6[7]" (click)="startEditingBullet6Desc7()">
          <p>- {{ bullet6[7] }}</p>
        </div>

        <textarea
          *ngIf="editing_bullet_6[7]"
          (blur)="finishEditingBullet6Desc7($event)"
          class="resizable-input"
          (ngModelChange)="doesChange()"
          [(ngModel)]="problem_trash[0].bullets.bullet_6[7]"
        ></textarea>
      </li>
    </ul>
  </div>
  <section>
    <div class="reference-container" *ngFor="let item of problem_trash">
      <accordion [isAnimated]="true">
        <accordion-group heading="References">
          <div *ngIf="!editing_reference[0]" (click)="startEditingRef1()">
            <p>{{ references[0] }}</p>
          </div>

          <textarea
            *ngIf="editing_reference[0]"
            (blur)="finishEditingRef1($event)"
            class="resizable-input"
            (ngModelChange)="doesChange()"
            [(ngModel)]="problem_trash[0].references[0]"
          ></textarea>

          <div *ngIf="!editing_reference[1]" (click)="startEditingRef2()">
            <p>{{ references[1] }}</p>
          </div>

          <textarea
            *ngIf="editing_reference[1]"
            (blur)="finishEditingRef2($event)"
            class="resizable-input"
            (ngModelChange)="doesChange()"
            [(ngModel)]="problem_trash[0].references[1]"
          ></textarea>

          <div *ngIf="!editing_reference[2]" (click)="startEditingRef3()">
            <p>{{ references[2] }}</p>
          </div>

          <textarea
            *ngIf="editing_reference[2]"
            (blur)="finishEditingRef3($event)"
            class="resizable-input"
            (ngModelChange)="doesChange()"
            [(ngModel)]="problem_trash[0].references[2]"
          ></textarea>

          <div *ngIf="!editing_reference[3]" (click)="startEditingRef4()">
            <p>{{ references[3] }}</p>
          </div>

          <textarea
            *ngIf="editing_reference[3]"
            (blur)="finishEditingRef4($event)"
            class="resizable-input"
            (ngModelChange)="doesChange()"
            [(ngModel)]="problem_trash[0].references[3]"
          ></textarea>

          <div *ngIf="!editing_reference[4]" (click)="startEditingRef5()">
            <p>{{ references[4] }}</p>
          </div>

          <textarea
            *ngIf="editing_reference[4]"
            (blur)="finishEditingRef5($event)"
            class="resizable-input"
            (ngModelChange)="doesChange()"
            [(ngModel)]="problem_trash[0].references[4]"
          ></textarea>

          <div *ngIf="!editing_reference[5]" (click)="startEditingRef6()">
            <p>{{ references[5] }}</p>
          </div>

          <textarea
            *ngIf="editing_reference[5]"
            (blur)="finishEditingRef6($event)"
            class="resizable-input"
            (ngModelChange)="doesChange()"
            [(ngModel)]="problem_trash[0].references[5]"
          ></textarea>
        </accordion-group>
      </accordion>
    </div>
  </section>

  <div class="publish-container">
    <button type="button" class="publish" (click)="updateData()"> Publish</button>
  </div>
</main>
<footer>
</footer>
