<main>
  <div class="content">
    <div class="textbox" data-aos="fade-right" *ngFor="let item of causes_climate_change">
      <h2>{{item.header}}</h2>
      <p>
        {{item.header_description}}
      </p>
    </div>
    <img src="/assets/casesimages/cases1.png" alt="sad earth" data-aos="fade-left">
  </div>

  <div *ngFor="let item of causes_climate_change">
    <h1 style="color: #D29A2D; text-align: center;
      font-size: 50px;
      font-weight: bold;">{{item.title}}</h1>
  </div>
  

  <div class="card-container" data-aos="zoom-in" *ngFor="let item of causes_climate_change">
    <div class="card" style="border-color:#4D0E16; align-items: center;">
      <div class="card-content">
        <h2><a class="learn-more-button" href={{item.cases.case1[1]}} style="text-decoration: none;color: #4D0E16;"><i 
          class='bx bx-trash' style="font-size: 40px;"></i> {{item.cases.case1[0]}}</a></h2>
      </div>
    </div>

    <div class="card" style="border-color:#4D0E16; align-items: center;">
      <div class="card-content">
        <h2><a class="learn-more-button" href={{item.cases.case2[1]}} style="text-decoration: none;color: #4D0E16;"><i 
          class='bx bx-bus' style="font-size: 45px;"></i> {{item.cases.case2[0]}}</a></h2>
      </div>
    </div>


    <div class="card" style="border-color:#4D0E16; align-items: center;">
      <div class="card-content">
        <h2><a class="learn-more-button" href={{item.cases.case3[1]}} style="text-decoration: none;color: #4D0E16;"><i 
          class='bx bx-question-mark' style="font-size: 45px;"></i> {{item.cases.case3[0]}}</a></h2>
      </div>
    </div>


    <div class="card" style="border-color:#4D0E16; align-items: center;">
      <div class="card-content">
        <h2><a class="learn-more-button" href={{item.cases.case4[1]}} style="text-decoration: none;color: #4D0E16;"><i
          class='bx bxs-magic-wand' style="font-size: 45px;"></i> {{item.cases.case4[0]}}</a></h2>
      </div>
    </div>
  </div>
  <hr style="width:100%;">

  <div class="text" *ngFor="let item of causes_climate_change">
    <span id="next">
      <h1 style="color: #4D0E16;">
        {{item.cases.case3[0]}}
      </h1>
    </span>
    <p>
      {{item.descriptions[0]}}
    </p>
    <br />
    <img src="/assets/casesimages/causesintroduction.png" alt="Understanding Global Change" class="center" />
    <br />
    <br />

    <p>
      {{item.descriptions[1]}}
    </p>
    <br />
    <img src="/assets/casesimages/causesintroduction2.png" alt="Understanding Global Change icons and framework"
      class="center" />
    <br />
    <br />
    <p>
      {{item.descriptions[2]}}
    </p>

    <ul>
      <li>
        <b style="color: #000; font-size: 27px;">{{item.bullets.bullet_1[0]}}</b>
        <br />
        {{item.bullets.bullet_1[1]}}
      </li>
      <li>
        <b style="color: #000; font-size: 27px;">{{item.bullets.bullet_2[0]}}</b>
        <br />
        {{item.bullets.bullet_2[1]}}
      </li>
      <li>
        <b style="color: #000; font-size: 27px;">{{item.bullets.bullet_3[0]}}</b>
        <br />
        {{item.bullets.bullet_3[1]}}
      </li>
      <li>
        <b style="color: #000; font-size: 27px;">{{item.bullets.bullet_4[0]}}</b>
        <br />
        {{item.bullets.bullet_4[1]}}
      </li>
      <li>
        <b style="color: #000; font-size: 27px;">{{item.bullets.bullet_5[0]}}</b>
        <br />
        {{item.bullets.bullet_5[1]}}
      </li>
      <li>
        <b style="color: #000; font-size: 27px;">{{item.bullets.bullet_6[0]}}</b>
        <br />
        {{item.bullets.bullet_6[1]}}
      </li>
      <li>
        <b style="color: #000; font-size: 27px;">{{item.bullets.bullet_7[0]}}</b>
        <br />
        {{item.bullets.bullet_7[1]}}
      </li>
    </ul>
  </div>
  <section>
    <div class="reference-container" *ngFor="let item of causes_climate_change">
      <accordion [isAnimated]="true">
        <accordion-group heading="References">
          <a href={{item.references[0]}}
            target="_blank">{{item.references[0]}}</a>
          <br />
          <a href={{item.references[1]}}
            target="_blank">{{item.references[1]}}</a>
        </accordion-group>
      </accordion>
    </div>
  </section>
</main>
<footer>
  <app-footer></app-footer>
</footer>