<section class="parallax">
  <h2 id="text">Protect the Earth,<br />Secure Our Future</h2>
  <img src="assets/landingpagenew/parallaxtop/mountain1.png" id="m1" style="height: 109%;"/>
  <img src="assets/landingpagenew/parallaxtop/trees2.png" id="t2" />
  <img src="assets/landingpagenew/mountain_02.png" id="m2" />
  <img src="assets/landingpagenew/parallaxtop/trees1.png" id="t1" />
  <img src="assets/landingpagenew/parallaxtop/man1.png" id="man" style="width: 120%;"/>
  <img src="assets/landingpagenew/parallaxtop/grass.png" id="plants" style="width: 120%; height: 200%;"/>
</section>

<section class="sec">
  <h2 #h2Element>Climate Change</h2>
  <p>
    A website regarding climate change should enlighten visitors, educate them,
    and increase awareness of the problem's causes, effects, and possible
    solutions. It acts as a platform for disseminating accurate, current
    information, encouraging environmental stewardship, and engaging the general
    public, individuals and industry in solving the issues of climate change and
    reducing its consequences.
  </p>
</section>

<header>
  <div class="parallax-div1">
    <img
      class="parallax-1"
      src="assets/landing-page/CC1.png"
      alt="Temporary parallax image"
    />
  </div>
</header>
<body>
  <section>
    <div class="what-can-you-do">
      <div class="wcyd-sub-div-1">
        <div
          class="wcyd-sub-sub-div-1"
          data-aos="fade-right"
          data-aos-duration="1000"
        >
          <p>A</p>
          <p>Sustainable</p>
          <p>Path</p>
          <p>Forward</p>
        </div>

        <div class="earth" data-aos-duration="1500"></div>
      </div>

      <div class="container">
        <div class="box">
          <img src="assets/landing-page/fossilfuels.png" alt="Image 1" />
          <div class="box-title">Keep fossil fuels in the ground</div>
          <div class="box-description">
            Fossil fuels include coal, oil and gas – and the more that are
            extracted and burned, the worse climate change will get. All
            countries need to move their economies away from fossil fuels as
            soon as possible.
          </div>
        </div>

        <div class="box">
          <img src="assets/landing-page/amazon.png" alt="Image 2" />
          <div class="box-title">Protect forests like the Amazon</div>
          <div class="box-description">
            Forests are crucial in the fight against climate change, and
            protecting them is an important climate solution. Cutting down
            forests on an industrial scale destroys giant trees which could be
            sucking up huge amounts of carbon.
          </div>
        </div>

        <div class="box">
          <img src="assets/landing-page/energy.png" alt="Image 3" />
          <div class="box-title">Invest in renewable energy</div>
          <div class="box-description">
            Changing our main energy sources to clean and renewable energy is
            the best way to stop using fossil fuels. These include technologies
            like solar, wind, wave, tidal and geothermal power.
          </div>
        </div>

        <div class="box">
          <img src="assets/landing-page/transport.png" alt="Image 4" />
          <div class="box-title">Switch to sustainable transport</div>
          <div class="box-description">
            Petrol and diesel vehicles, planes and ships use fossil fuels.
            Reducing car use, switching to electric vehicles and minimising
            plane travel will not only help stop climate change, it will reduce
            air pollution too.
          </div>
        </div>
      </div>
    </div>
  </section>

    <section class="parallax">
      <img src="assets/landingpagenew/parallaxtop/CC3(bg).png" id="sea" style="width: 120%; height: 100%;" />
      <img src="assets/landingpagenew/parallaxtop/CC3(man).png" id="oldman" />
    </section>
    

  <section>
    <div class="three-projects-container-exp">
      <div class="project-exp hover-effect" data-aos-duration="1000">
        <div class="project-content">
          <img
            class="project-img"
            src="assets/landing-page/temp/MDR LOGO.png"
            alt="Logo of MDDRMO"
          />
          <a href="https://www.facebook.com/sagipmanila"><p>MDRRMO</p></a>
        </div>
      </div>
      <div class="project-exp hover-effect" data-aos-duration="1000">
        <div class="project-content">
          <img
            class="project-img"
            src="assets/background/climate-escape-background.png"
            alt=""
          />
          <a routerLink="/games"><p>Play Climate Escape</p></a>
        </div>
      </div>
    </div>
  </section>
  <app-landing-page-new></app-landing-page-new>

  <section>
    <div class="parallax-div4">
      <div class="parallax-sub-div4" data-aos-duration="1000">
        <img
          class="parallax-4"
          src="assets/landing-page/CC2_01.jpg"
          alt="Temporary parallax image"
        />
      </div>

      <div class="parallax-sub-div4" data-aos-duration="1000">
        <img
          class="parallax-4-1"
          src="assets/landing-page/CC2_02.jpg"
          alt="Temporary parallax image"
        />
      </div>
    </div>
  </section>
</body>
<footer>
  <app-footer></app-footer>
</footer>
