@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
body{
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.parralax-div1{
  height: 600px;
}

header img{
  width: 100%;
}
/* .parallax-div1 img {
  padding-top: 50px;
  width: 100%;
  height: 600px;
  position: relative;
} */

header{
  position: relative;
}

.parallax-div2-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.parallax-div2-text p {
  font-family: "Courgette", cursive;
  font-size: 3rem;
  color: white;
  font-weight: 500;
}

/* Earth */
.earth {
  width: 100px;
  height: 100px;
  background-image: url(/assets/homeimages/map.jpg);
  border-radius: 50%;
  margin-top: 50px;
  margin-right: 0px;
  background-size: 100px 100%;
  box-shadow: inset 0px 0px 5px #fdfdf29e, inset 40px 0px 50px #000;
  animation: rotate 10s infinite linear;
}
@keyframes rotate {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 100px;
  }
}
/* End of earth */

/* Tiles */
.what-can-you-do {
  display: flex;
  justify-content: center;
  position: relative;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 50px;
  gap: 90px;
}

.wcyd-sub-div-1 {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wcyd-sub-div-1 p {
  font-size: 2rem;
  font-weight: bold;
}
.wcyd-sub-div-2 {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}

.tile1,
.tile2,
.tile3,
.tile4 {
  width: 50%;
  padding: 5px;
}
/* End of tiles */

.div-parallax-3 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.div-parallax-3 img {
  width: 90%;
}

/* Game, Webtoon, and Interactive Video */
.three-projects-container-exp{
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
  gap: 5px;
}

.three-projects-container-exp p{
  position: absolute;
  font-size: 2rem;
  font-weight: 900;
}

.two-projects-container-exp{
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.interactive-video-exp{
  width: 50%;
}

.webtoon-exp, .interactive-video-exp, .climate-escape-exp{
  width: 100%;
  overflow: hidden;
  position: relative;
}

.hover-effect img{
  transform: scale(1);
  transition: transform 0.4s ease-in-out;
}

.hover-effect  img:hover{
  transform: scale(1.05);
}

.climate-escape-exp img{
  scale: 1.5;
}

.webtoon-exp p, 
.interactive-video-exp p,
.climate-escape-exp p {
  top: 20px;
  padding-left: 20px;
  color: white;
}

.parallax-div4 {
  display: flex;
  justify-content: center;
  gap: 5px;
  width: 100%;
  margin-bottom: 50px;
}

.parallax-div4 img {
  width: 100%;
}
/* Before and After */
/* 
.main-container-cba {
  display: flex;
  justify-content: center;
  border: 2px red dashed;
} */

/* End of Carousel */

@media (max-width: 768px) {
  .wcyd-sub-div-2{
    gap: 10px;
  }

  .parallax-div2-text p {
    font-size: 1.5rem;
  }

  .three-projects-container-exp{
    height: 500px;
  }

  .tile1,
  .tile2,
  .tile3,
  .tile4 {
    width: 100%;
    padding: 5px;
    border: 2px dashed red  ;
  }
}