<header>
  <div class="parallax-div1">
    <img
      class="parallax-1"
      src="assets/news-features/pexels-pixabay-221012-BG.jpg"
      alt="Temporary parallax image"
    />
  </div>
  <div class="parallax-div2-text">
    <p>Protect the Earth</p>
    <p>Secure our Future</p>
  </div>
</header>
<body>
  <section>
    <div class="what-can-you-do">
      <div class="wcyd-sub-div-1">
        <div
          class="earth parallax-2"
          data-aos="fade-down-left"
          data-aos-duration="1500"
        ></div>
        <p>Ecotopia</p>
      </div>

      <div class="wcyd-sub-div-2">
        <div class="tile1">
          <img width="70px" src="assets/logo/logo.png" alt="temporary logo" />
          <h1>Ano ilalagay dito?</h1>
          <p>Wag kang dugyot! Itapon mo basura mo.</p>
        </div>
        <div class="tile2">
          <img width="70px" src="assets/logo/logo.png" alt="temporary logo" />
          <h1>Ano ilalagay dito?</h1>
          <p>Wag kang dugyot! Itapon mo basura mo.</p>
        </div>
        <div class="tile3">
          <img width="70px" src="assets/logo/logo.png" alt="temporary logo" />
          <h1>Ano ilalagay dito?</h1>
          <p>Wag kang dugyot! Itapon mo basura mo.</p>
        </div>
        <div class="tile4">
          <img width="70px" src="assets/logo/logo.png" alt="temporary logo" />
          <h1>Ano ilalagay dito?</h1>
          <p>Wag kang dugyot! Itapon mo basura mo.</p>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="div-parallax-3">
      <img
        class="parallax-3"
        src="assets/news-features/pexels-andrew-beatson-3742711.jpg"
        alt="temporary"
      />
    </div>
  </section>

  <!-- To be continue, I am planning to put here the webtoon or manga of jana -->
  <section>
    <div class="three-projects-container">
      <div class="two-projects-container">
        <div class="webtoon">
          <img
            class="webtoon-img"
            src="assets/landing-page/temp/bg_interactive_example.png"
            alt=""
          />
          <p>Webtoon</p>
        </div>
        <div class="interactive-video">
          <img
            class="interactive-img"
            src="assets/landing-page/temp/bg_interactive_example.png"
            alt=""
          />
          <p>Interactive Video</p>
        </div>
      </div>

      <div class="climate-escape">
        <img
          class="climate-img"
          src="assets/background/climate-escape-background.png"
          alt=""
        />
        <p>Play Climate Escape</p>
      </div>
    </div>
  </section>

  <section>
    <div class="main-container-cba">
      <div class="carousel-before-after">
        <h1>Example</h1>
        <ngx-image-comparison-slider
          src1="assets/landing-page/before-after/Picture2 (2).png"
          src2="assets/landing-page/before-after/Picture2 (3).png"
        >
        </ngx-image-comparison-slider>
      </div>
      <div class="carousel-before-after">
        <h1>Example</h1>
        <ngx-image-comparison-slider
          src1="assets/landing-page/before-after/Picture2 (2).png"
          src2="assets/landing-page/before-after/Picture2 (3).png"
        >
        </ngx-image-comparison-slider>
      </div>
    </div>
  </section>

  <section>
    <div class="parallax-div4">
      <img
        class="parallax-4"
        src="assets/news-features/pexels-pixabay-221012-BG.jpg"
        alt="Temporary parallax image"
      />
      <img
        class="parallax-4-1"
        src="assets/news-features/pexels-pixabay-221012-BG.jpg"
        alt="Temporary parallax image"
      />
    </div>
  </section>
</body>
<footer>
  <app-footer></app-footer>
</footer>
