@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");

.parallax-div1 img {
  padding-top: 50px;
  width: 100%;
  height: 600px;
  position: relative;
}

.parallax-div2-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.parallax-div2-text p {
  font-family: "Courgette", cursive;
  font-size: 3rem;
  color: white;
  font-weight: 500;
}

.parallax-div4 {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}

.parallax-div4 img {
  width: 100%;
}

/* Earth */
.earth {
  width: 100px;
  height: 100px;
  background-image: url(/assets/homeimages/map.jpg);
  border-radius: 50%;
  margin-top: 50px;
  margin-right: 0px;
  background-size: 100px 100%;
  box-shadow: inset 0px 0px 5px #fdfdf29e, inset 40px 0px 50px #000;
  animation: rotate 10s infinite linear;
}
@keyframes rotate {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 100px;
  }
}
/* End of earth */

/* Tiles */
.what-can-you-do {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.wcyd-sub-div-1 {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wcyd-sub-div-1 p {
  font-size: 2rem;
  font-weight: 500;
}
.wcyd-sub-div-2 {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
}

.tile1,
.tile2,
.tile3,
.tile4 {
  width: 50%;
  padding: 5px;
}
/* End of tiles */
.div-parallax-3 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.div-parallax-3 img {
  height: 500px;
  width: 90%;
}

/* Game, Webtoon, and Interactive Video */
.three-projects-container {
  display: flex;
  justify-content: center;
  height: 500px;
  padding: 20px;
  margin-left: 10%;
  margin-right: 10%;
  position: relative;
}

.three-projects-container p {
  font-size: 2rem;
  position: absolute;
  font-weight: 900;
}

.two-projects-container {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.webtoon {
  /* background-color: wheat; */
  height: 50%;
  padding: 10px;
}

.webtoon p {
  top: 30px;
  padding-left: 10px;
  color: white;
}

.interactive-video {
  /* background-color: rgb(7, 137, 252); */
  height: 50%;
  padding: 10px;
}

.interactive-video p {
  top: 260px;
  padding-left: 10px;
  color: white;
}

.climate-escape {
  /* background-color: green; */
  width: 50%;
  padding: 10px;
}

.climate-escape p {
  top: 30px;
  padding-left: 10px;
  color: white;
}
.webtoon-img,
.interactive-img,
.climate-img {
  object-fit: contain;
  height: 100%;
}

.three-projects-container img {
  transform: scale(1);
  transition: transform 0.4s ease-in-out;
}

.webtoon img:hover,
.interactive-video img:hover,
.climate-escape img:hover {
  transform: scale(1.05);
}

/* Before and After */
.carousel-before-after {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* Carousel */
.carousel {
  width: 100%;
}

.main-container-cba {
  display: flex;
  justify-content: center;
  gap: 20px;
}
/* End of Carousel */
