<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Evidence</title>
  </head>
  <body>
    <h1>Climate Change Evidence (How Do We Know Climate Change is Real?)</h1>
    <p style="font-size: 20px; font-weight: 200">
      There is clear and unequivocal proof that the Earth is undergoing an
      unprecedented rate of warming, and the primary driver of this phenomenon
      is human activity.
    </p>

    <hr />
    <h2>
      The rate of change since the mid-20th century is unprecedented over
      millennia.
    </h2>
    <p>
      Throughout the Earth's history, its climate has undergone fluctuations.
      Over the past 800,000 years, there have been eight alternating cycles of
      ice ages and warmer periods, with the conclusion of the last ice age
      approximately 11,700 years ago signifying the onset of the modern climate
      era and the rise of human civilization. These climate shifts are primarily
      linked to minute alterations in Earth's orbit, which impact the amount of
      solar energy reaching our planet.
    </p>

    <div class="image">
      <img
        src="assets/overview-of-climate-change/chart.jpg"
        alt="Chart of atmospheric CO2 levels"
      />
      <p style="margin-top: 10px">
        This chart,created by comparing the atmospheric samples preserved in ice
        cores with more recent direct measurements, <br>offers proof of the rise in
        atmospheric CO2 levels since the onset of the Industrial Revolution.
      </p>
    </div>

    <h2>The Fact That the Current Warming Trend is Real</h2>
    <p>
      The fact that the current warming trend is clearly related to human
      activity since the mid-1800s and is advancing at a rate unheard of in
      recent millennia makes it stand out as distinct. The atmospheric gases
      that human activity has released into the atmosphere are unquestionably to
      blame for trapping more of the Sun's energy within the Earth system,
      increasing warming in the atmosphere, oceans, and on land. As a result,
      several parts of the Earth's system, including the atmosphere, oceans,
      cryosphere, and biosphere, have seen quick and extensive alterations.
    </p>
    <p>
      The use of Earth-orbiting satellites and cutting-edge technologies has
      allowed researchers to get a thorough understanding, accumulating varied
      data from around the world regarding our planet and its temperature over
      many years. This is relevant to the scientific consensus on climate
      change. These extensive data sets have shown significant trends and
      signals of a changing climate.
    </p>
    <p>
      Scientists first discovered that carbon dioxide and other greenhouse gases
      trap heat in the middle of the 19th century. In order to better understand
      how these gases affect the atmospheric transmission of infrared radiation,
      NASA has developed a number of scientific instruments. There is no
      question that increasing greenhouse gas concentrations cause global
      warming based on the consequences of these gases' observed increases in
      concentration.
    </p>

    <h2>The Evidence for Rapid Climate Change</h2>

    <ul>
      <li>Global Temperature Is Rising</li>
      <p>
        Since the late 19th century, the planet's average surface temperature
        has climbed by around 2 degrees Fahrenheit (1 degrees Celsius), mostly
        as a result of rising atmospheric carbon dioxide emissions and other
        human activities. The last 40 years have seen the most warming, with the
        last seven years being the warmest. The warmest year on record is a tie
        between 2016 and 2020.F
      </p>
      <li>The Ocean Is Getting Warmer</li>
      <p>
        Most of this extra heat has been absorbed by the ocean, which has warmed
        by 0.67 degrees Fahrenheit (0.33 degrees Celsius) since 1969 in the top
        100 meters (328 feet) of water. 90% of the surplus energy on Earth is
        kept in the ocean.
      </p>
      <li>The Ice Sheets Are Shrinking</li>
      <p>
        The mass of the Antarctic and Greenland ice sheets has shrunk. According
        to data from NASA's Gravity Recovery and Climate Experiment, between
        1993 and 2019, Greenland lost an average of 279 billion tons of ice per
        year, while Antarctica lost roughly 148 billion tons.
      </p>
      <li>Glaciers Are Retreating</li>
      <p>
        Glaciers are retreating almost everywhere around the world — including
        in the Alps, Himalayas, Andes, Rockies, Alaska, and Africa.
      </p>
      <li>Snow Cover Is Decreasing</li>
      <p>
        Satellite observations reveal that the amount of spring snow cover in
        the Northern Hemisphere has decreased over the past five decades and the
        snow is melting earlier. Image credit: NASA/JPL-Caltech
      </p>
      <li>Sea Level Is Rising</li>
      <p>
        Global sea level rose about 8 inches (20 centimeters) in the last
        century. The rate in the last two decades, however, is nearly double
        that of the last century and accelerating slightly every year.
      </p>
      <li>Arctic Sea Ice Is Declining</li>
      <p>
        Both the extent and thickness of Arctic Sea ice has declined rapidly
        over the last several decades.
      </p>
      <li>Extreme Events Are Increasing in Frequency</li>
      <p>
        Since 1950, the number of record high temperature occurrences in the US
        has been rising while the number of record low temperature occurrences
        has been falling. Additionally, there have been more frequent instances
        of heavy rain in the United States.
      </p>
      <li>Ocean Acidification Is Increasing</li>
      <p>
        The acidity of surface ocean waters has risen by around 30% since the
        start of the Industrial Revolution. The reason for this increase is that
        people are releasing more carbon dioxide into the atmosphere, which
        causes more of it to be absorbed by the ocean. In recent decades, the
        ocean has absorbed 20% to 30% of all anthropogenic carbon dioxide
        emissions (7.2 to 10.8 billion metric tons annually).
      </p>
    </ul>

    <h2>Takeaways</h2>
    <ul>
      <li>
        Although the temperature of the Earth has varied over time, the current
        warming is occurring at a rate that has not been seen in the previous
        10,000 years.
      </li>
      <li>
        The Intergovernmental Panel on Climate Change (IPCC) states that "Since
        systematic scientific assessments first began in the 1970s, the
        influence of human activity on the warming of the climate system has
        evolved from theory to established fact."
      </li>
      <li>
        Evidence of a changing climate is found in both natural resources (such
        as ice cores, rocks, and tree rings) and contemporary technology (such
        as satellites and devices).
      </li>
      <li>
        There is ample proof that the globe is warming, from the rise in global
        temperature to the melting of ice sheets.
      </li>
    </ul>
  </body>
  <section style="margin: 50px">
    <div class="reference-container">
      <accordion [isAnimated]="true">
        <accordion-group heading="References">
          <a href="https://climate.nasa.gov/evidence/"
            >https://climate.nasa.gov/evidence/</a
          >
        </accordion-group>
      </accordion>
    </div>
  </section>
</html>
