<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap"
      rel="stylesheet"
    />
    <title></title>
  </head>
  <body>

    <div class="background" style="margin-bottom: 50px">
        <img
          src="assets/solutionsimages/solutions.jpg"
          alt="Act now! image"
          width="100%"
        />
      </div>

    <main style="padding: 0 30px 0 30px;">
      <div class="text">
        <h1 style="color: #0030FF;">
            What are the other solutions to Climate Change?
          </h1>

          <h3 style="color: #FF96A9;">
            How to recycle more effectively?
          </h3>
          <p>
            For better or worse, recycling has firmly taken root in today’s
            society as a must-do. Many of us have a list, or at least an idea,
            of what can and can’t be recycled. And those that recycle also tend
            to enjoy doing their part to help the environment. As an
            environmentally motivated house clearance company, preventing the
            unnecessary addition of reusable materials to the waste stream is
            one of Clearance Solutions’ highest priorities, so we know this
            feeling well.
            <br />
            <br />
            <li>
              <b style="font-size: 23px; color: #2082C8;">Recycle plastic bags separately</b>
              <br />
              You might think plastic bags are convenient for gathering all your
              recyclable material together. However, plastic bags can be an
              unpredictable and time-consuming nightmare for those sorting at
              the recycling plant.
            </li>
            <br />
            <li>
              <b style="font-size: 23px; color: #2082C8;">Try not to shred paper</b>
              <br />
              Shredded paper was difficult to recycle and often ended up in
              landfill. Since then, recycling plants have improved and now
              shredded paper is usually properly recycled. However this doesn’t
              mean you should shred your sheets at every opportunity.
            </li>
            <br />
            <li>
              <b style="font-size: 23px; color: #2082C8;">Compress bottles and put the lid back on</b>
              <br />
              Shredded paper was difficult to recycle and often ended up in
              landfill. Since then, recycling plants have improved and now
              shredded paper is usually properly recycled. However this doesn’t
              mean you should shred your sheets at every opportunity.

              <div class="viewmore">
                <br /><a
                  href="https://www.clearancesolutionsltd.co.uk/reuse-and-recycling/how-to-recycle-more-effectively/"
                  target="_blank"
                  >Continue reading</a
                >
              </div>
            </li>
          </p>
          <br>
          <br>
          <h3 style="color: #FF96A9;">
            Solutions to Climate Change that will actually make a difference
          </h3>
          <p>
            There are a lot of differing opinions on whether it’s too late to
            climate change — and, if it’s not the best way of going about it.
            Some say recycling is useless and that individual action means
            nothing against the larger policy reforms that need to happen. This
            is, in part, true — although you should absolutely still be
            recycling. But it doesn’t tell the whole story, and it doesn’t help
            those who are currently on the frontlines of the climate crisis.
            Here, we break down 10 solutions to climate change that will
            actually make a difference — and how you can help make them all a
            reality.
            <br />
            <br />
            <li>
              <b style="font-size: 23px; color: #2082C8;">Shift to renewable energy sources in all key sectors</b>
              <br />
              The United Nations identified a six-sector solution to climate
              change, focusing on actions that can be taken by the energy,
              industry, agriculture, transportation, nature-based solutions, and
              urban planning. If all of these actions are completed, the UN
              Environment Programme estimates we could reduce global carbon
              emissions by 29 to 32 gigatonnes, thereby limiting the global
              temperature rise to 1.5º C.
            </li>
            <br />
            <li>
              <b
              style="font-size: 23px; color: #2082C8;">Reduce food loss and waste and shift to more sustainable
                diets</b
              >
              <br />
              There are a few different ways that climate change and hunger go
              hand-in-hand. Whether it’s kale or Kobe beef, producing food
              accounts for some measure of greenhouse gasses. In 2021, the Food
              and Agriculture Organization estimated we consumed more meat than
              ever before. By 2050 this will, by some estimates, increase
              greenhouse gas emissions from food production by 60%. Likewise,
              many farmers use nitrous-based fertilizers to grow more crops,
              more quickly to meet demand.
            </li>
            <br />
            <li>
              <b
              style="font-size: 23px; color: #2082C8;">Halt deforestation and commit to rebuilding damaged
                ecosystems</b
              >
              <br />
              The rapid deforestation of the Earth, especially over the last 60
              years, has contributed to climate change, creating “heat islands”
              out of land that would normally be protected by trees and other
              flora from overheating. Simply put, this has to stop. There are
              actions each of us can take as individuals to help halt this—going
              paperless and buying recycled paper products, planting trees or
              supporting organizations that do this (like Concern), and
              recycling.
            </li>
            <br />
            <li>
              <b
              style="font-size: 23px; color: #2082C8;">Embrace electric vehicles, public transport, and other
                non-motorized options for getting around</b
              >
              <br />
              The carbon savings on junking your current car in favor of an
              electric model are basically nullified if you aren’t seriously in
              the market for a new vehicle. However, mass adoption of electric
              vehicles and public transport — along with walking, biking,
              skating, and scooting — is key to cutting the greenhouse gas
              emissions from fuel-based motor vehicles.
            </li>
            <br />
            <li>
              <b style="font-size: 23px; color: #2082C8;">Subsidize low-carbon alternatives for urban planning</b>
              <br />
              In tandem with low-carbon alternatives for public transportation,
              governments need to commit to similar measures with our growing
              cities. New buildings mean a new opportunity to reward green
              design methods that help to decrease the strain on urban
              resources, whether they’re apartments or entertainment venues.

              <div class="viewmore">
                <br /><a
                  href="https://www.concernusa.org/story/solutions-to-climate-change/"
                  target="_blank"
                  >Continue reading</a
                >
              </div>
            </li>
          </p>
        </div>

        <section>
          <div class="reference-container">
            <accordion [isAnimated]="true">
              <accordion-group heading="References">
                <a
                  href="https://www.clearancesolutionsltd.co.uk/reuse-and-recycling/how-to-recycle-more-effectively/"
                  target="_blank"
                  >https://www.clearancesolutionsltd.co.uk/reuse-and-recycling/how-to-recycle-more-effectively/</a
                >
                <br />
                <a
                  href="https://www.concernusa.org/story/solutions-to-climate-change/"
                  target="_blank"
                  >https://www.concernusa.org/story/solutions-to-climate-change/</a
                >
              </accordion-group>
            </accordion>
          </div>
        </section>
    </main>
    <footer>
      <app-footer></app-footer>
    </footer>
  </body>
</html>