/* body {
    margin: 0;
    padding: 100px;
    background-image: url("src/assets/escaperoom/border.png");
    background-size: 1000px 700px;
    background-position: center;
    background-repeat: no-repeat;
} */
.container{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 1%;
    margin-bottom: 1%;
    font-family: 'Henry Sans', sans-serif;
    border-radius: 5px;
}

.details{
    background-color: #EDEDED;
    border-radius: 5px;
    margin-bottom: 1%;
    padding: 20px;
}

#gameContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    background-image: url('../../../assets/background/climate-escape-background-blur.webp');
    min-height: 600px;
    object-fit: fill;
    border-radius: 5px;
}

