<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <main>
      <div class="content">
        <div class="textbox" data-aos="fade-right">
          <h2>Everything <br /><span>is Changing</span></h2>
          <p>
            Climate change is happening now: understand the problem and take
            action.
          </p>
        </div>
        <img
          src="/assets/casesimages/cases1.png"
          alt="sad earth"
          data-aos="fade-left"
        />
      </div>

      <h1 style="color: #0030FF; text-align: center;
      font-size: 50px;
      font-weight: bold;">The Urgent Problems of Climate Change</h1>

      <div class="card-container" data-aos="zoom-in">
        <div class="card" style="border-color:#C15669; align-items: center;">
          <div class="card-content">
            <h2><a class="learn-more-button" href="problemtrash"
               style="text-decoration: none;color: #C15669;" ><i class="fal fa-times fa-trash"></i> Problem of Removing Waste</a></h2>
          </div>
        </div>
        
        <div class="card" style="border-color:#5E55DB; align-items: center;">
          <div class="card-content">
            <h2><a class="learn-more-button" href="outdatedjeepengine"
               style="text-decoration: none;color: #5E55DB;" ><i class="fal fa-times fa-trash"></i> Jeep Outdated Engine</a></h2>
          </div>
        </div>
        

        <div class="card" style="border-color:#DD9E3B; align-items: center;">
          <div class="card-content">
            <h2><a class="learn-more-button" href="causesofclimatechange"
               style="text-decoration: none;color: #DD9E3B;" ><i class="fal fa-times fa-trash"></i> Causes of Climate Change</a></h2>
          </div>
        </div>
      

        <div class="card" style="border-color:#396A63; align-items: center;">
          <div class="card-content">
            <h2><a class="learn-more-button" href="effectsofclimatechange"
               style="text-decoration: none;color: #396A63;" ><i class="fal fa-times fa-trash"></i> Effects of Climate Change</a></h2>
          </div>
        </div>
      </div>
      <hr style="width: 100%" />

      <div class="text">
        <h1 style="padding-top: 50px; color: #5E55DB">
          Problem of Jeep Outdated Engine
        </h1>

        <ul style="margin-top: -20px">
          <li>
            <b style="color: #879DF8; font-size: 27px;"
              >Diesel-powered motor vehicles blamed for most of PH’s air
              pollution</b
            >
            <br />
            - More than 500,000 diesel-fueled jeepneys, buses, trucks and other
            vehicles in Metro Manila are responsible for about 70 percent of the
            total soot or black carbon emissions in the Philippines, according
            to Climate Change.
            <br />
            - According to the World Bank, 5,000 premature deaths every year
            account for 12% of all deaths in Metro Manila, the highest rate of
            any region in the Philippines, owing mostly to respiratory and
            cardiovascular disorders caused by air pollution exposure.
            <br />
            - According to the Climate Change Commission, black carbon is the
            "second most important, but previously overlooked factor in global
            warming."
            <br />
            - In some studies, lowering soot emissions from diesel engines might
            delay the melting of Arctic glaciers more efficiently and affordably
            than any other rapid cure.
          </li>
          <li>
            <b style="color: #879DF8; font-size: 27px;"
              >Is Jeepney Phase-out a Just Transition to Sustainable Transport
              System?</b
            >
            <br />
            - Addressing climate change challenges necessitates collaboration
            from all sectors, including transportation. Because fossil-fueled
            cars contribute to greenhouse gas emissions and air pollution,
            efforts to make transportation "greener" are being made. However,
            the societal effects are frequently overlooked. In the Philippines,
            jeepney drivers staged strikes to protest the phase-out of jeepneys
            in the name of sustainability.
          </li>
          <li>
            <b style="color: #879DF8; font-size: 27px;"
              >Modernizing the jeepney fleet in the Philippines: Balancing
              Safety, Environmental, and Social Concerns
            </b>
            <br />
            - Removal of old age jeepneys would offer various advantages,
            especially in terms of safety and environmental impact. One big
            advantage would be a change to safer and more comfortable modes of
            transportation, which would reduce the number of accidents and
            injuries on the roads.
            <br />
            - Old jeepneys are typically poorly maintained, and their engines
            create significant amounts of pollution. Furthermore, they are not
            constructed to fulfill modern safety regulations, putting passengers
            and other road users at risk. By retiring aging jeepneys, hazardous
            emissions could be decreased, improving the country's air quality.
            While jeepneys serve an important role in the country's
            transportation, a study conducted by the Blacksmith Institute and
            Clean Air Asia discovered that diesel-powered jeepneys produce 15%
            of total particulate matter emissions in Metro Manila.
            <br />
            - Adoption of electric jeepneys, in particular, would not only cut
            air pollution but also provide passengers with a safer and more
            comfortable method of transportation. This would be consistent with
            the global goal of reaching net-zero emissions by 2050, which is
            critical in addressing climate change.
          </li>
        </ul>
      </div>
      <section>
        <div class="reference-container">
          <accordion [isAnimated]="true">
            <accordion-group heading="References">
              <a
                href="https://newsinfo.inquirer.net/353117/diesel-powered-motor-vehicles-blamed-for-most-of-phs-air-pollution"
                target="_blank"
                >https://newsinfo.inquirer.net/353117/diesel-powered-motor-vehicles-blamed-for-most-of-phs-air-pollution
              </a>
              <br />
              <a
                href="https://greennetwork.asia/news/is-jeepney-phase-out-a-just-transition-to-sustainable-transport-system/ "
                target="_blank"
                >https://greennetwork.asia/news/is-jeepney-phase-out-a-just-transition-to-sustainable-transport-system/
              </a>
              <br />
              <a
                href="https://www.linkedin.com/pulse/modernizing-jeepney-fleet-philippines-balancing-safety-cartojano#:~:text=The%20phase%2Dout%20of%20old,and%20injuries%20on%20the%20roads."
                target="_blank"
                >https://www.linkedin.com/pulse/modernizing-jeepney-fleet-philippines-balancing-safety-cartojano#:~:text=The%20phase%2Dout%20of%20old,and%20injuries%20on%20the%20roads.
              </a>
            </accordion-group>
          </accordion>
        </div>
      </section>
    </main>
    <footer>
      <app-footer></app-footer>
    </footer>
  </body>
</html>
