@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,900&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: black;
    color: white
}

/* Carousel */
.carousel-div {
  width: 100%;
  height: 500px;
  margin-bottom: 100px;
}

.images{
    display: block;
    margin: auto;
    width: 50%;
    height: auto;
}
/* End of Carousel */

/* Content */
.climate-change{
    display: flex;
    flex-direction: column;
    margin-right: 10%;
    margin-left: 10%;
}


/* End of Content */