@import url('https://fonts.cdnfonts.com/css/henry-sans');
@import "~boxicons/css/boxicons.min.css";

*{
  font-family: 'Henry Sans Bold', sans-serif;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Henry Sans Bold', sans-serif;
}
#sidebar {
  height: 100vh;
  width: 300px;
  background-color: #001DD3;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  overflow-x: hidden;
  padding-top: 20px;
  transition: width 0.3s;
  position: fixed;
  border-right: 1px solid #dee2e6;
  overflow-y: auto;
  z-index: 1;
}
#sidebar.collapsed {
  width: 55px;
}

#sidebar a,
#sidebar.collapsed a {
  font-weight: normal;
}

.admin-panel {
  display: flex;
  align-items: center;
  padding: 20px 20px 0 10px;
  border-bottom: 1px solid #011ED4;
}
.admin-panel img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
#sidebar ul{
  list-style: none;
  margin-left: -32px;
}
#sidebar ul li{
  list-style: none;
}
#sidebar a {
  padding: 10px 16px;
  text-decoration: none;
  font-size: 22px;
  color: #fff;
  display: block;
  font-weight: bold;
}
.toggle-button i{
  font-size: 28px;
}
.toggle-button {
  background-color: #080a7a;
  color: white;
  border: none;
  padding: 8px;
  width: 100%;
  cursor: pointer;
}
#sidebar a:hover {
  background-color: #181bad;
  transition: all .45s ease;
}

.dropdown-item {
  margin-left: 15px;
}

.dropdown-content {
  display: none;
  background-color: #ce7787;
  left: 10px;
}
#logout {
  position: absolute;
  bottom: 50px;
  cursor: pointer;
}
#logout:hover {
  transition: all .45s ease;
  width: 100%;
}
.content{
  margin-left: 250px; 
  padding: 20px;
}
.arrow {
  position: absolute;
  top: 166px;
  left: 90px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid;
}
.arrow2 {
  position: absolute;
  top: 209px;
  left: 120px;
  transform: translateY(-50%);
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid;
}

.bx-chevron-down.rotate {
  transform: rotate(180deg);
}

.active{
  background-color: #080a7a;
}
@media screen 
and (max-width: 1270px)
and (min-device-width: 1200px) 
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 1) {
  #sidebar a {
    padding: 5px 16px;
  }
  #logout{
    bottom: 20px;
  }
  .admin-panel {
    padding: 5px 5px 5px 10px;
  }
  .toggle-button {
    padding: 5px;
  }
}

